/* ==========================================================================
   #COLORING PAGE
   ========================================================================== */

.c-coloring-page {
  margin-bottom: 40px;
  max-width: 1256px;
}

.c-coloring-page__link {
  display: block;
  padding-top: 690 / 1256 * 100%;
}

.c-coloring-page__img {
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  max-height: 690px;
}

@include bp(medium) {
  .c-coloring-page {
    margin-bottom: 80px;
  }
}

@include bp(large) {
  .c-coloring-page {
    margin-bottom: 120px;
  }
}
