/* ==========================================================================
   #FACTS
   ========================================================================== */

.c-facts {
  //overflow: hidden;
}

.c-facts__icon {
  display: block;
}

.c-facts__product {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  transition: $transition-fast-in visibility ease, $transition-fast-in opacity ease;
}

.c-facts__title {
  margin-bottom: 30px;
}

.c-facts__media {
  display: flex;
  align-items: center;
  justify-content: center;
  height: (182 / 2) * 1px;
  margin-bottom: 24px;
}

.c-facts__product--bacteria .c-facts__icon {
  width: #{(183 / 2)}px;
  height: #{(164 / 2)}px;
}

.c-facts__product--lgg .c-facts__icon {
  width: #{(245 / 2)}px;
  height: #{(179 / 2)}px;
}

.c-facts__product--yogurt .c-facts__icon {
  width: #{(126 / 2)}px;
  height: #{(182 / 2)}px;
}

.c-facts__product--milk .c-facts__icon {
  width: #{(140 / 2)}px;
  height: #{(157 / 2)}px;
}

.c-facts__product--microbiota .c-facts__icon {
  width: #{(200 / 2)}px;
  height: #{(160 / 2)}px;
}

.c-facts__more {
  margin-top: 60px;
  margin-bottom: 60px;
}

.c-facts__subtitle {
  max-width: 326px;
}

.c-facts__product--microbiota .c-facts__subtitle {
  max-width: 336px;
}

.c-facts__splash-1 {
  width: 400px;
  height: auto;
  max-width: 658px;
  left: 50%;
  right: 0;
  margin-left: -180px;
  top: 280px;
}

.c-facts__splash-1--bottom {
  top: 50%;
}

.c-facts__splash-2 {
  width: 400px;
  height: 354px;
  left: 50%;
  margin-left: -200px;
  bottom: 170px;
}

.c-facts__splash-3 {
  width: 878px;
  height: auto;
  left: 50%;
  margin-left: -548px;
  top: 28%;
}

.c-facts__splash-3--bottom {
  top: 70%;
  margin-left: -550px;
}

.c-facts__dots {
  width: 800px;
  height: 696px;
  transform: scaleX(-1) rotate(266deg);
  left: 50%;
  margin-left: -460px;
}


.c-facts__dots--top {
  top: 0;
}

.c-facts__dots--medium {
  top: 17%;
  margin-left: -438px;
  transform: rotate(-92deg);
}

.c-facts__dots--bottom {
  top: 79%;
  transform: rotate(-231deg);
}

.c-facts__overlay {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: $transition-slow-out visibility ease, $transition-slow-out opacity ease;
  order: 0;
}

.c-facts__overlay p {
  text-align: justify;
}

.c-facts__overlay:last-child {
  order: 1;
  transition: $transition-slow-in visibility ease, $transition-slow-in opacity ease;
}

.c-facts__overlay.is-active {
  position: relative;
  opacity: 1;
  visibility: visible;
}

.c-facts__overlay-title {
  display: flex;
  align-items: center;
  margin-bottom: 1.2em;
}

.c-facts__overlay-icon {
  margin-right: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}

.c-facts__overlay--bacteria .c-facts__overlay-icon {
  width: 92 / 2 + px;
  height: 86 / 2 + px;
}

.c-facts__overlay-bacteria {
  width: 536 / 3 + px;
  height: 492 / 3 + px;
  margin-bottom: 1.2em;
  margin-left: auto;
  margin-right: auto;
}

.c-facts__overlay-products {
  display: block;
  width: 100%;
  max-width: 320px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.c-facts__overlay-back {
  display: flex;
  justify-content: flex-end;
}

.c-facts__overlay--lgg .c-facts__overlay-icon {
  width: 122 / 2 + px;
  height: 90 / 2 + px;
}

.c-facts__overlay--lgg .c-facts__overlay-title {
  margin-bottom: 20px;
}

.c-facts__overlay--lgg .c-facts__overlay-back {
  margin-top: 1.2em;
}

.c-facts__overlay-lgg {
  max-width: 320px;
  margin: auto;
}

.c-facts__overlay-lgg:before {
  content: '';
  display: block;
  padding-top: 120%;
}

.c-facts__overlay-lgg-products {
  left: 0;
  top: 0;
  width: 80%;
}

.c-facts__overlay-lgg-lgg {
  bottom: 0;
  right: 0;
  width: 40%;
}

.c-facts__overlay-doctor {
  width: 60%;
  height: auto;
  max-width: 329px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1.2em;
}

.c-facts__overlay--yogurt .c-facts__overlay-icon {
  width: 68 / 2 + px;
  height: 98 / 2 + px;
}

.c-facts__overlay--milk .c-facts__overlay-icon {
  width: 75 / 2 + px;
  height: 85 / 2 + px;
}

.c-facts__overlay--milk {
  padding-bottom: 200px;
}

.c-facts__overlay-bacteria-2 {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 720/768 * 100vw;
  object-position: bottom right;
}

.c-facts__overlay--microbiota .c-facts__overlay-icon {
  width: 77 / 2 + px;
  height: 96 / 2 + px;
}

.c-facts__overlay-microbiota {
  width: 60%;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.c-facts__row {
  order: 1;
  transition: $transition-fast-in visibility ease, $transition-fast-in opacity ease;
}

@include bp-down(medium) {
  .c-facts__row {
    width: 100%;
  }

  .c-facts__product.is-hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
  }

  .c-facts__slot {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .c-facts__product {
    @include min-height-100vh();
  }

  .c-facts__overlay-title {
    font-size: 20px;
  }

  .c-facts__overlay--microbiota .c-facts__overlay-icon {
    transform: rotate(90deg);
  }
}

@include bp-between(medium, large) {
  .c-facts__overlay-title {
    font-size: 24px;
  }
}

@include bp(medium) {
  .c-facts__row {
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: -25px;
  }

  .c-facts__row.is-hidden {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
  }

  .c-facts__slot:last-child .c-facts__row {
    justify-content: center;
  }

  .c-facts__product {
    width: 50%;
  }

  .c-facts__media {
    height: 136px;
    margin-bottom: 18px;
  }

  .c-facts__subtitle {
    margin-bottom: 40px;
  }

  .c-facts__title {
    margin-bottom: 15px;
  }

  .c-facts__product--bacteria .c-facts__icon {
    width: 136px;
    height: 123px;
  }

  .c-facts__product--lgg .c-facts__icon {
    width: 168px;
    height: 124px;
  }

  .c-facts__product--yogurt .c-facts__icon {
    width: 94px;
    height: 136px;
  }

  .c-facts__product--milk .c-facts__icon {
    width: 100px;
    height: 114px;
  }

  .c-facts__product--microbiota .c-facts__icon {
    width: 149px;
    height: 119px;
  }

  .c-facts__splash-1 {
    width: auto;
    margin-left: -320px;
    top: 140px;
  }

  .c-facts__splash-2 {
    width: 534px;
    height: 473px;
    bottom: 0;
    margin-left: -250px;
  }

  .c-facts__dots {
    width: 1186px;
    height: 992px;
  }

  .c-facts__dots--bottom {
    transform: none;
    top: 45%;
    margin-left: -750px;
  }

  .c-facts__overlay-columns {
    column-count: 2;
    column-gap: 30px;
  }

  .c-facts__overlay-bacteria {
    width: 660 / 2 + px;
    height: 180 / 2 + px;
    margin: 20px auto;
    max-width: 100%;
  }

  .c-facts__overlay {
    padding-left: 0;
    padding-right: 0;
  }

  .c-facts__overlay--bacteria .c-facts__overlay-icon {
    width: 73px;
    height: 66px;
  }

  .c-facts__overlay--lgg .c-facts__overlay-icon {
    width: 91px;
    height: 66px;
  }

  .c-facts__overlay--lgg .c-facts__overlay-lgg {
    margin-bottom: 1.2em;
    width: 100%;
  }

  .c-facts__overlay-column--lgg {
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
  }

  .c-facts__overlay--yogurt .c-facts__overlay-icon {
    width: 66px;
    height: 96px;
  }

  .c-facts__overlay-one-column {
    width: 50%;
  }

  .c-facts__overlay-bacteria-2 {
    min-width: 100%;
    width: calc(100% + 54px);
    height: 100%;
    margin-left: -27px;
    margin-right: -27px;
    object-position: center bottom;
  }

  .c-facts__overlay--milk {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .c-facts__overlay--milk .c-facts__overlay-icon {
    width: 58px;
    height: 66px;
  }

  .c-facts__overlay-columns-flex {
    display: flex;
  }

  .c-facts__overlay-column {
    width: 50%;
  }

  .c-facts__overlay--microbiota .c-facts__overlay-column:first-child {
    order: 1;
  }

  .c-facts__overlay--microbiota .c-facts__overlay-icon {
    width: 93px;
    height: 75px;
    margin-left: -100px;
  }

  .c-facts__overlay-microbiota {
    max-width: 487px;
    width: 80%;
    margin-top: 120px;
  }

  .c-facts__more {
    margin-top: auto;
  }
}

@include bp(large) {
  .c-facts {
    margin-bottom: 40px;
  }

  .c-facts__product {
    margin-left: 40px;
    margin-right: 40px;
    width: calc(50% - 40px);
    padding-left: 0;
    padding-right: 0;
  }

  .c-facts__row {
    max-width: 1046px;
    margin-left: auto;
    margin-right: auto;
  }

  .c-facts__product--milk .c-facts__title {
    margin-left: -50px;
    margin-right: -50px;
  }

  .c-facts__overlay-columns--bacteria {
    margin-bottom: 20px;
  }

  .c-facts__overlay-columns {
    column-gap: 40px;
  }

  .c-facts__overlay--milk {
    padding-left: 13px;
    padding-right: 13px;
  }

  .c-facts__overlay--milk .c-facts__overlay-back {
    position: absolute;
    bottom: 0;
    right: -100%;
  }

  .c-facts__overlay-column:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .c-facts__overlay--microbiota .c-facts__overlay-back {
    margin-top: auto;
    align-self: flex-end;
  }

  .c-facts__overlay-lgg {
    max-width: 360px;
  }
}

@include bp(xlarge) {
  .c-facts__overlay--microbiota .c-facts__overlay-icon {
    margin-left: 0;
  }

  .c-facts__overlay-microbiota {
    margin-top: 0;
  }
}
