/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  background-color: $color-blue;
  line-height: 2;
  z-index: 5;
}

.c-footer a {
  @include link-active-hover {
    color: lighten($color-blue, 20%);
  }
}

.c-footer.c-footer {
  line-height: 1.6;
}

.c-footer__inner {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.c-footer__column {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: flex-start;
}

.c-footer__squeeze {
  transform-origin: left center;
  transform: scaleX(0.75);
}

.c-footer__column:last-child {
  align-self: center;
}

.c-footer__social {
  display: flex;
  margin-top: 6px;
}

.c-footer__social-link + .c-footer__social-link {
  margin-left: 10px;
}

@include bp-down(small) {
  .c-footer__social-icon {
    width: 32 * 0.8px;
    height: 24 * 0.8px;
  }
}

@include bp(medium) {
  .c-footer__inner {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 20px;
  }

  .c-footer__column {
    width: auto;
    margin-bottom: 20px;
  }

  .c-footer__brand-img {
    width: 170px;
    height: 51px;
  }

  .c-footer__social-link + .c-footer__social-link {
    margin-left: 15px;
  }
}

@include bp(large) {
  .c-footer__inner {
    padding-top: 25px;
  }

  .c-footer__column {
    margin-bottom: 25px;
  }

  .c-footer__brand-img {
    width: 232px;
    height: 69px;
  }

  .c-footer__social-link + .c-footer__social-link {
    margin-left: 25px;
  }

  .c-footer__social-icon {
    width: 40px;
    height: 30px;
  }
}
