/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.c-header__inner {
  display: flex;
  justify-content: space-between;
  height: $header-height-small;
  align-items: center;
}

.c-header__menu-wrapper {
  //position: relative;
  margin-left: auto;
  margin-right: auto;
}

.c-header__brand {
  transform: translateY(-15%);
  flex-shrink: 0;
  flex-grow: 0;
}

.c-header__menu-item {
  transform-origin: 75% center;
  //transform: scaleX(0.75);
}

.c-header__menu-item:nth-child(2) {
  transform-origin: 50% center;
}

.c-header__menu-item + .c-header__menu-item {
  margin-left: 1em;
}

.c-header__menu {
  display: flex;
  white-space: nowrap;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.c-header__logo {
  flex-grow: 0;
  flex-shrink: 0;
}

/*@include bp-down(360px) {
  .c-header__logo-img {
    width: 50px;
    height: 22/68 * 50px;
  }

  .c-header__brand-img {
    width: 94px;
    height: 24px;
  }
}*/

.c-header__menu-close,
.c-header__menu-open {
  position: absolute;
  margin-top: -20px;
  top: 50%;
  width: 40px;
  height: 40px;
  text-indent: -300vw;
}

.c-header__menu-open {
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  transition: transform 0.4s ease, background-color 0.3s ease, background-image 0.3s ease;
  background: linear-gradient(to bottom,
    currentColor 3px,
    transparent 3px, transparent 7px,
    currentColor 7px, currentColor 10px,
    transparent 10px, transparent 14px,
    currentColor 14px
  ) 5px 12px no-repeat;
  background-size: 28px 17px;
}

.c-header__menu-close {
  right: 15px;
  margin-right: -5px;
  transition: transform 0.4s ease, color 0.3s ease;
}

.c-header__menu-close:before,
.c-header__menu-close:after {
  display: block;
  content: '';
  height: 3px;
  width: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -13px;
  margin-top: -1.5px;
  background-color: currentColor;
}

.c-header__menu-close:before {
  transform: rotate(-45deg);
}

.c-header__menu-close:after {
  transform: rotate(45deg);
}

@include bp-down(419px) {
  .c-header__menu-wrapper {
    transform: scaleX(0.7);
    transform-origin: left center;
    position: absolute;
    left: 0;
    top: 20px;
  }
}

@include bp(420px) {
  .c-header__menu {
    width: calc(100% - 30px);
    justify-content: center;
  }

  .c-header__menu-item + .c-header__menu-item {
    margin-left: 20px;
  }
}

@include bp-down(720px) {
  .c-header__logo,
  .c-header__brand,
  .c-header__menu-item {
    transition: transform 0.4s ease;
  }

  .c-header.is-active .c-header__menu-open,
  .c-header:not(.is-active) .c-header__menu-close,
  .c-header.is-active .c-header__logo,
  .c-header.is-active .c-header__brand,
  .c-header:not(.is-active) .c-header__menu-item {
    transform: translateY(-70px);
  }
}

@include bp(medium) {
  .c-header__logo-img {
    width: 137px;
    height: 43px;
  }

  .c-header__brand-img {
    width: 187px;
    height: 48px;
  }

  .c-header__inner {
    height: $header-height-large;
  }

  .c-header__menu-item + .c-header__menu-item {
    margin-left: 30px;
  }
}

@include bp(720px) {
  .c-header__menu-close,
  .c-header__menu-open {
    display: none;
  }

  .c-header__menu {
    margin-left: -20px;
  }

  .c-header__menu-item + .c-header__menu-item {
    margin-left: 10px;
  }
}

@include bp-between(420px, large) {
  .c-header__menu {
    transform: scaleX(0.8) translateY(-50%);
  }
}

@include bp(large) {
  .c-header__inner {
    justify-content: flex-start;
  }

  .c-header__menu-wrapper {
    margin-left: auto;
    margin-right: 0;
    position: static;
  }

  .c-header__menu {
    position: static;
    transform: scaleX(0.8);
    margin-left: 0;
  }

  .c-header__menu-item + .c-header__menu-item {
    margin-left: 40px;
  }

  .c-header__brand-img {
    margin-left: 40px;
  }
}


@include bp(1100px) {
  .c-header__menu {
    transform: none;
  }
}

@include bp(full) {
  .c-header__menu-item + .c-header__menu-item {
    margin-left: 60px;
  }
}
