/* ==========================================================================
   #HERO
   ========================================================================== */

.c-hero {
  padding-top: 25px;
  margin-bottom: 60px;
}

.c-hero__text {
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 420px;
}

.c-hero__logo {
  width: 80px;
  height: 60px;
}

.c-hero__product-bottle {
  width: 260px;
  height: (1144/878) * 260px;
  margin-top: -60px;
  margin-left: -20px;
}

.c-hero__product-lgg {
  width: 128px;
  bottom: 10px;
  left: 200px;
}

.c-hero__splash {
  margin-left: -60px;
  margin-top: 30px;
  width: 302px;
}

.c-hero__dots {
  top: 50%;
  left: 50%;
  transform: translate(-56%, -41%);
  width: 720px;
}

.c-hero__content {
  z-index: 1;
}

@include bp(360px) {
  .c-hero__product-lgg {
    left: 220px;
  }

  .c-hero__product-bottle {
    margin-left: 0;
  }
}

@include bp(420px) {
  .c-hero__product-lgg {
    left: 245px;
  }
}

@include bp-down(medium) {
  .c-hero__text br {
    display: none;
  }
}

@include bp(medium) {
  .c-hero__text {
    max-width: none;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .c-hero__logo {
    width: 126px;
    height: 93px;
  }

  .c-hero__product-bottle {
    width: 378px;
    height: 493px;
    margin-top: -240px;
    margin-left: 240px;
  }

  .c-hero__product-lgg {
    width: 160px;
    bottom: 0;
    left: 80px;
  }

  .c-hero__splash {
    width: 401px;
    margin-left: -123px;
    margin-top: 56px;
  }
}

@include bp(large) {
  .c-hero__product-lgg {
    width: 214px;
    bottom: 77px;
    left: 642px;
  }

  .c-hero__product-bottle {
    margin-left: 300px;
    margin-top: -280px;
  }

  .c-hero__dots {
    width: 1322px;
    transform: translate(-49%, -33%);
  }

  .c-hero__logo {
    width: 175px;
    height: 128px;
  }

  .c-hero__text {
    margin-bottom: 25px;
  }
}

@include bp(xlarge) {
  .c-hero__product-bottle {
    margin-top: -440px;
    margin-left: 470px;
  }

  .c-hero__product-lgg {
    bottom: 60px;
    left: 820px;
  }

  .c-hero__dots {
    transform: translate(-44%, -32%);
  }

  .c-hero__splash {
    width: 486px;
    height: 494px;
    margin-left: -109px;
    margin-top: 103px;
  }

  .c-hero__text {
    margin-top: 40px;
  }
}

@include bp(1200px) {
  .c-hero__product-bottle {
    margin-top: -490px;
    margin-left: 520px;
    width: 439px;
    height: 572px;
  }

  .c-hero__product-lgg {
    width: 257px;
    height: 349px;
    bottom: 60px;
    left: 916px;
  }

  .c-hero {
    margin-bottom: 70px;
  }

  .c-hero__text {
    margin-top: 60px;
  }
}
