/* ==========================================================================
   #HIT GAME
   ========================================================================== */

@import 'hit-game/animations';
@import 'hit-game/start-screen';
@import 'hit-game/finish-screen';
@import 'hit-game/game-screen';

.c-hit-game {
  background-color: #e98ead;
  padding: 14px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  height: 640px;
  min-height: 540px;
  touch-action: pan-y;
  user-select: none;
  @include max-height-100vh;
}

.c-hit-game button {
  -webkit-tap-highlight-color: transparent;
}

.c-hit-game__header {
  margin-bottom: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.c-hit-game__board > .is-hidden,
.c-hit-game__header > .is-hidden {
  pointer-events: none;
  visibility: hidden;
}

.c-hit-game__board > .is-active,
.c-hit-game__header > .is-active {
  z-index: 1;
}

.c-hit-game__scoreboard,
.c-hit-game__intro {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.c-hit-game__intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-hit-game__intro-text {
  color: #4f1538;
  font-size: 3.2em;
  min-height: 1.8em;
  line-height: 0.9;
  text-shadow: 0.06em 0.08em 0 #f6757a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-hit-game__intro-bacteria-1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-0.7em, -50%) rotate(90deg);
  width: 6em;
}

.c-hit-game__intro-bacteria-2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) scaleY(-1);
  height: 6em;
}

.c-hit-game__board {
  background: url('../assets/images/pattern.svg') center center;
  background-size: 120px auto;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
}

.c-hit-game__scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  transform: translateY(5%);
}

.c-hit-game__scoreboard > * {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.c-hit-game__scoreboard-bumper {
  height: 7em;
  width: (120.12 / 136.8) * 7em;
}

.c-hit-game__scoreboard-hourglass {
  height: 7em;
  width: (94.22 / 119.94) * 7em;
}

.c-hit-game__scoreboard-board {
  background: linear-gradient(to right, #000, #000) center center no-repeat;
  background-size: 84% 80%;
}

.c-hit-game__scoreboard-board--result {
  background-image: linear-gradient(to right, #ff3962, #ff3962);
}

.c-hit-game__scoreboard-board span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -53%);
  line-height: 0.9;
  font-size: 3.2em;
}

.c-hit-game__scoreboard-board-bg {
  display: block;
  width: 9.6em;
  height: 5.6em;
}

.c-hit-game__start-button-img {
  display: block;
  width: 29em;
  height: 9.982em;
}

.c-hit-game__bacteria {
  backface-visibility: hidden;
}

.c-hit-game__bacteria .c-hit-game__bacteria-img {
  filter: drop-shadow(0.04em 0.04em 0 rgba(#000, 0.8));
}

.c-hit-game__bacteria--b1 .c-hit-game__bacteria-img {
  width: (14/24) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--b2 .c-hit-game__bacteria-img {
  width: (16/25) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--b3 .c-hit-game__bacteria-img {
  width: (25/19) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--b4 .c-hit-game__bacteria-img {
  width: (23/24) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--b5 .c-hit-game__bacteria-img {
  width: (22/24) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--b6 .c-hit-game__bacteria-img {
  width: (22/23) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--b7 .c-hit-game__bacteria-img {
  width: (5/19) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--g1 .c-hit-game__bacteria-img {
  width: (22/23) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--g2 .c-hit-game__bacteria-img {
  width: (22/24) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--g3 .c-hit-game__bacteria-img {
  width: (23/22) * 1em;
  height: 1em;
}

.c-hit-game__bacteria--g4 .c-hit-game__bacteria-img {
  width: (5/19) * 1em;
  height: 1em;
}

.c-hit-game__game {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.c-hit-game__debug {
  left: 0;
  top: 0;
  z-index: 3;
  font-size: 18px;
  padding: 10px;
}

@media (max-height: 520px) {
  .c-hit-game {
    min-height: 480px;
  }
}

@include bp-down(1200px) {
  .c-hit-game {
    width: 100%;
  }
}

@include bp(360px) {
  .c-hit-game__scoreboard {
    font-size: 9.5px;
  }
}

@include bp(medium) {
  .c-hit-game {
    padding: 25px;
    margin-bottom: 80px;
    min-height: 640px;
  }

  .c-hit-game__header {
    margin-bottom: 20px;
  }

  .c-hit-game__intro br {
    display: none;
  }

  .c-hit-game__intro-text {
    font-size: 4em;
    min-height: 0;
    transform: translateY(-5%);
  }

  .c-hit-game__intro-bacteria-1 {
    transform: translateY(-50%);
    width: 9em;
  }

  .c-hit-game__intro-bacteria-2 {
    transform: translate(-37%, -50%) rotate(90deg);
    height: 9em;
  }

  .c-hit-game__board {
    background-size: 160px auto;
    overflow: hidden;
  }

  .c-hit-game__scoreboard {
    font-size: 11px;
  }
}

@include bp(large) {
  .c-hit-game {
    margin-bottom: 120px;
  }

  .c-hit-game__intro-text {
    font-size: 5.6em;
  }

  .c-hit-game__intro-bacteria-1 {
    width: 12em;
  }

  .c-hit-game__intro-bacteria-2 {
    height: 12em;
  }
}

@include bp(xlarge) {
  .c-hit-game__intro-text {
    font-size: 8em;
  }

  .c-hit-game__header {
    margin-bottom: 30px;
    height: 80px;
  }

  .c-hit-game__board {
    background-size: 200px auto;
  }

  .c-hit-game__scoreboard {
    font-size: (10/7) * 10px;
  }
}
