/* ==========================================================================
   #INFO
   ========================================================================== */

.c-info {
  margin-bottom: 10px;
}

.c-info__lgg {
  width: 128px;
  height: 174px;
  margin-left: auto;
  margin-right: auto;
}

.c-info__media {
  margin-bottom: 10px;
}

.c-info__splash {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: -3%;
}

@include bp(medium) {
  .c-info__lgg {
    width: 160px;
    height: 217px;
  }

  .c-info__media {
    margin-bottom: 20px;
  }

  .c-info {
    margin-bottom: 20px;
  }
}

@include bp(large) {
  .c-info__lgg {
    width: 214px;
    height: 291px;
  }

  .c-info__media {
    margin-bottom: 30px;
  }

  .c-info {
    margin-bottom: 25px;
  }
}

@include bp(xlarge) {
  .c-info__lgg {
    width: 257px;
    height: 349px;
  }
}
