/* ==========================================================================
   #PRODUCTS
   ========================================================================== */

.c-products {
  margin-bottom: 35px;
}

.c-products__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.c-products__product {
  width: calc(50% - 10px);
  margin-left: 5px;
  margin-right: 5px;
}

.c-products__product:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.c-products__product-image {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-products__product--berries:before {
  padding-top: 1132/510 * 100%;
}

.c-products__product--lgg {
  height: 107/320 * 100%;
  max-height: 160px;
  margin-top: calc(10vw);
}

.c-products__product--lgg:before {
  padding-top: 518/446 * 100%;
}

.c-products__product--strawberries {
  margin-top: calc(10vw + 40px);
}

.c-products__product--strawberries:before {
  padding-top: 1118/528 * 100%;
}

.c-products__product--peach {
  margin-top: calc(4vw - 40px);
}

.c-products__product--peach:before {
  padding-top: 700/526 * 100%;
}

.c-products__product--classic {
  margin-top: calc(4vw + 20px);
}

.c-products__product--classic:before {
  padding-top: 698/534 * 100%;
}

.c-products__product--bilberry {
  margin-top: calc(-10px - 4vw);
}

.c-products__product--bilberry:before {
  padding-top: 710/482 * 100%;
}

.c-products__splash {
  left: -65%;
  top: 8.5%;
  width: 285%;
}

.c-products__splash-2 {
  right: 0;
  bottom: 17%;
  width: 280%;
}

@include bp-down(medium) {
  .c-products__product--lgg {
    order: 6;
  }

  .c-products__dots {
    left: -184%;
    top: 8%;
    width: 300%;
    transform: rotate(-25deg);
    z-index: -1;
  }
}

@include bp-between(medium, large) {
  .c-products__inner {
    margin-left: -20%;
    margin-right: -20%;
  }
}

@include bp(medium) {
  .c-products {
    margin-bottom: 60px;
  }

  .c-products__inner {
    max-width: none;
    justify-content: center;
    align-items: flex-end;
  }

  $margin: 50/($wrapper-width / 1px) * 100%;

  .c-products__product {
    width: calc(100% / 3);
    margin: 0 50/($wrapper-width / 1px) * 100%;
  }

  .c-products__product--berries {
    width: #{(510/2/($wrapper-width / 1px) * 100%) - $margin};
  }

  .c-products__product--lgg {
    width: #{(446/2/($wrapper-width / 1px) * 100%) - $margin};
    align-self: flex-end;
    margin-bottom: 7%;
    max-height: none;
    margin-left: 0;
    margin-right: 0;
  }

  .c-products__product--strawberries {
    width: #{(528/2/($wrapper-width / 1px) * 100%) - $margin};
  }

  .c-products__product--peach {
    width: #{(526/2/($wrapper-width / 1px) * 100%) - $margin};
  }

  .c-products__product--classic {
    width: #{(534/2/($wrapper-width / 1px) * 100%) - $margin};
    margin-top: 5%;
  }

  .c-products__product--bilberry {
    width: #{(484/2/($wrapper-width / 1px) * 100%) - $margin};
  }

  .c-products__divider {
    width: 100%;
  }

  .c-products__splash {
    left: -36%;
    top: 1.5%;
    width: 180%;
  }

  .c-products__dots {
    left: -10%;
    top: 5%;
    width: 1596/($wrapper-width / 1px) * 100%;
  }
}

@include bp(large) {
  .c-products__splash {
    left: 9%;
    top: -1%;
    width: 146%;
  }

  .c-products {
    margin-bottom: 80px;
  }

  .c-products__product--berries {
    margin-left: 0;
    width: #{(510/2/($wrapper-width / 1px) * 100%)};
  }

  .c-products__product--lgg {
    width: #{(446/2/($wrapper-width / 1px) * 100%)};
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 9%;
  }

  .c-products__product--strawberries {
    width: #{(528/2/($wrapper-width / 1px) * 100%)};
    margin-right: 0;
  }

  .c-products__product--peach {
    margin-left: 0;
    width: #{(526/2/($wrapper-width / 1px) * 100%)};
  }

  .c-products__product--classic {
    width: #{(534/2/($wrapper-width / 1px) * 100%)};
    margin-left: 7%;
    margin-right: 7%;
  }

  .c-products__product--bilberry {
    width: #{(484/2/($wrapper-width / 1px) * 100%)};
    margin-right: 0;
  }
}
