<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Project Index - Aktiplus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
  <link href="index/css/main.css" rel="stylesheet">
</head>
<body>
  <div class="c-wrapper">
    <h1 class="c-page-title">Aktiplus</h1>
    <h2 class="c-page-subtitle">Project index</h2>

    <div class="c-section c-section--first">
      <div class="c-section__content">
        <p class="c-intro">This project is powered by <a href="https://www.getchisel.co/">Chisel</a>, a development framework for creating easy to maintain and fast front-end templates.</p>
        <h2 class="c-heading">Pages</h2>
        <ul class="c-list">
          <% if (locals.pages) { %>
            <% for (var i = 0; i < pages.length; i++) { %>
              <li>
                <a href="dist/<%= pages[i]['slug'] %>.html" class="c-page"><span class="c-page__link"><%= pages[i]['name'] %></span> <span class="c-page__name"><%= pages[i]['slug'] %>.html</span></a>
              </li>
            <% } %>
          <% } %>
        </ul>
        <% if (!locals.pages) { %>
        <div class="c-section__note">
          To add more pages run:
          <pre><code>yo chisel:page 'My Awesome Page'</code></pre>
        </div>
        <% } %>
      </div>
    </div>
    <!-- c-section -->

    <section class="c-section">
      <div class="c-section__content">
        <h2 class="c-heading">Documentation</h2>
        <p><strong>Chisel supports modern web development workflows and helps developers to create a code base which is easy to maintain.</strong></p>
        <p>For detailed information how Chisel works, please check out <a href="https://www.getchisel.co/">www.getchisel.co</a>.</p>
        <p>If you are just looking for your deliverable files, they are located inside the <code>dist</code> folder. No files found outside of that folder should usually be uploaded to your server (e.g. this file).</p>
      </div>
    </section>
    <!-- c-section -->
  </div>
  <!-- c-wrapper -->
</body>
</html>
