/* ==========================================================================
   #FONT-FACE
   ========================================================================== */

/**
 * Add font-display: swap to font-face blocks here
 * https://www.zachleat.com/web/comprehensive-webfonts/#font-display
 */


@font-face {
  font-family: 'DIN W02 Regular';
  src: url('../assets/fonts/5591093/89495911-441c-4a94-b785-8fbbde758233.woff2') format('woff2'), url('../assets/fonts/5591093/27e61977-1c85-4892-b030-9d3339639298.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DIN W02 Medium';
  src: url('../assets/fonts/5591109/3a97d711-0278-4fcc-9527-37e7911bcfb7.woff2') format('woff2'), url('../assets/fonts/5591109/8491ec80-cec4-4e7a-8c3a-27c0cf767c12.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DIN W02 Medium Italic';
  src: url('../assets/fonts/5591118/1a92f662-f8c4-47fd-aa23-652c9384a86d.woff2') format('woff2'), url('../assets/fonts/5591118/38e2ec48-2be1-4d85-99b2-37f8c9f3067f.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'aller-display';
  src: url('https://use.typekit.net/af/d12599/00000000000000003b9b401a/27/l?primer=2a64b7354accbfccf091944358d6cba32f300a9a753ae564cfcf2ef3ec0bce66&fvd=n4&v=3') format('woff2'), url('https://use.typekit.net/af/d12599/00000000000000003b9b401a/27/d?primer=2a64b7354accbfccf091944358d6cba32f300a9a753ae564cfcf2ef3ec0bce66&fvd=n4&v=3') format('woff'), url('https://use.typekit.net/af/d12599/00000000000000003b9b401a/27/a?primer=2a64b7354accbfccf091944358d6cba32f300a9a753ae564cfcf2ef3ec0bce66&fvd=n4&v=3') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'lores-12-bold-alt-oakland';
  src: url('https://use.typekit.net/af/b99c9b/00000000000000003b9adb67/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3') format('woff2'), url('https://use.typekit.net/af/b99c9b/00000000000000003b9adb67/27/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3') format('woff'), url('https://use.typekit.net/af/b99c9b/00000000000000003b9adb67/27/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
