{% extends "layouts/base.twig" %}
{% set pageName = 'Index' %}

{% block content %}
  {% include 'components/hero.twig' %}

  {% include 'components/products.twig' %}

  {% include 'components/facts.twig' %}

  {% include 'components/hit-game.twig' %}

  <section class="c-coloring-page o-wrapper">
    <div class="o-anchor">
      <div class="o-anchor__link" id="kolorowanka"></div>
    </div>
    <a class="c-coloring-page__link u-p-relative" href="{{ assetPath('kolorowanka.pdf') }}" target="_blank">
      <picture>
        <source srcset="{{ emptySrc() }}" data-srcset="{{ assetPath('images/colouring-page-cta.png') }}" media="(max-width: 639px)">
        {{ lazyImg({
          src: assetPath('images/colouring-page-cta@2x.png'),
          class: 'c-coloring-page__img u-p-absolute u-fit-contain'
        }) }}
      </picture>
    </a>
  </section>

  {% include 'components/info.twig' %}
{% endblock %}


