<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=kPLBEn5Nxx">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=kPLBEn5Nxx">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=kPLBEn5Nxx">
<link rel="manifest" href="/assets/favicon/site.webmanifest?v=kPLBEn5Nxx">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=kPLBEn5Nxx" color="#146eb0">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=kPLBEn5Nxx">
<meta name="apple-mobile-web-app-title" content="Aktiplus">
<meta name="application-name" content="Aktiplus">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=kPLBEn5Nxx">
<meta name="theme-color" content="#ffffff">