/* ==========================================================================
   #COLOR
   ========================================================================== */

.u-c-white {
  color: $color-white;
}

.u-c-black {
  color: $color-black;
}

.u-c-blue {
  color: $color-blue;
}

.u-c-red {
  color: $color-red;
}

.u-c-gray {
  color: $color-gray;
}
