/* ==========================================================================
   #FLIP
   ========================================================================== */

.u-flip-horizontal {
  transform: scaleX(-1);
}

.u-flip-vertical {
  transform: scaleY(-1);
}
