/* ==========================================================================
   #FONT FAMILY
   ========================================================================== */

.u-ff-din-medium {
  font-family: $font-din-medium;
}

.u-ff-din-medium-italic {
  font-family: $font-din-medium-italic;
}

.u-ff-din-regular {
  font-family: $font-din-regular;
}

.u-ff-aller {
  font-family: $font-aller;
}

.u-ff-lores {
  font-family: $font-lores;
}
