/* ==========================================================================
   #ALIGN
   ========================================================================== */

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-clear {
  clear: both;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-underlined {
  text-decoration: underline;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-none {
  text-transform: none;
}

.u-nowrap {
  white-space: nowrap;
}

.u-fsz-menu {
  @include fsz-menu;
}

.u-fsz-small {
  @include fsz-small;
}

.u-fsz-product {
  @include fsz-product;
}

.u-fsz-desc {
  @include fsz-desc;
}

.u-fsz-hero {
  @include fsz-hero;
}
