/* ==========================================================================
   #BODY
   ========================================================================== */

body {
  padding-top: $header-height-small;
  min-height: calc(100vh);
  overflow-x: hidden;
  position: relative;
}

@include bp(medium) {
  body {
    padding-top: $header-height-large;
  }
}
