/* ==========================================================================
   #HEADINGS
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 400;
}

h1,
.o-h1 {
  @include h1;
}

h2,
.o-h2 {
  @include h2;
}

h3,
.o-h3 {
  @include h2;
}
