/* ==========================================================================
   #PAGE
   ========================================================================== */

// stylelint-disable
:root {
  --full-height: 100vh;
  --initial-height: 100vh;
  --scroll-width: 0;
}
// stylelint-enable

html {
  color: $color-gray;
  font-family: $font-din-medium;
  font-size: 16px;
  line-height: 1.2;
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  background: $color-white url('../assets/images/bg-page-mobile.jpg') no-repeat center top;
  background-size: 600px 100%;
}

@include bp(600px) {
  html {
    background-image: url('../assets/images/bg-page.jpg');
  }
}

@include bp(medium) {
  html {
    background-size: 1200px 100%;
  }
}

@include bp(1200px) {
  html {
    background-size: 100% 100%;
  }
}
