/* ==========================================================================
   #IMAGES
   ========================================================================== */

img {
  font-style: italic;
  vertical-align: middle;
  height: auto;
}

/* stylelint-disable */
html.js .js-lazy-img {
  transition: opacity $transition-fast-in ease;
}

html.js .js-lazy-img:not(.js-lazy-loaded) {
  opacity: 0;
}
/* stylelint-enable */

