/* ==========================================================================
   #SUP
   ========================================================================== */

sup {
  font-size: 70%;
  vertical-align: 30%;
}
