/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.o-btn {
  font-family: $font-aller;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;

  @include link-active-hover {
    color: $color-gray;
  }
}

.o-btn__icon {
  height: 0.7em;
  width: (24/14) + em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.o-btn--back .o-btn__icon {
  transform: scaleX(-1);
}

@include bp(medium) {
  .o-btn {
    font-size: 18px;
  }
}
