/* ==========================================================================
   #LINK
   ========================================================================== */

.o-generic-links a,
.o-generic-link {
  color: currentColor;

  @include link-active-hover-click {
    color: $color-blue;
  }
}
