/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

.o-wrapper {
  @include wrapper;
}

.o-wrapper-padding {
  @include wrapper-padding;
}

.o-anti-wrapper {
  @include anti-wrapper;
}

.o-wrapper-bigger {
  @include wrapper($wrapper-bigger-width);
}

.o-wrapper-padding-bigger {
  @include wrapper-padding($wrapper-bigger-width);
}

.o-anti-wrapper-bigger {
  @include anti-wrapper($wrapper-bigger-width);
}
