<section class="c-facts o-wrapper u-p-relative">
  <div class="o-anchor">
    <div class="o-anchor__link" id="poznaj-fakty"></div>
  </div>

  {{ lazyImg({
    src: assetPath('images/bg-info-dots.png'),
    class: 'c-facts__dots c-facts__dots--top u-p-absolute u-z-back u-pe-none u-us-none u-hide-medium',
    decoding: 'async'
  }) }}
  {{ lazyImg({
    src: assetPath('images/bg-info-dots.png'),
    class: 'c-facts__dots c-facts__dots--medium u-p-absolute u-z-back u-pe-none u-us-none u-hide-medium',
    decoding: 'async'
  }) }}
  {{ lazyImg({
    src: assetPath('images/bg-info-dots.png'),
    class: 'c-facts__dots c-facts__dots--bottom u-p-absolute u-z-back u-pe-none u-us-none',
    decoding: 'async'
  }) }}
  {{ lazyImg({
    src: assetPath('images/bg-info-splash.png'),
    class: 'c-facts__splash-1 c-facts__splash-1--top u-fit-contain u-d-block u-p-absolute u-z-back u-pe-none u-us-none',
    decoding: 'async'
  }) }}
  {{ lazyImg({
    src: assetPath('images/bg-info-splash.png'),
    class: 'c-facts__splash-1 c-facts__splash-1--bottom u-fit-contain u-d-block u-p-absolute u-z-back u-pe-none u-us-none',
    decoding: 'async'
  }) }}
  {{ lazyImg({
    src: assetPath('images/bg-info-splash-2.png'),
    class: 'c-facts__splash-2 c-facts__splash-2--top u-fit-contain u-d-block u-p-absolute u-z-back u-pe-none u-us-none',
    decoding: 'async'
  }) }}

  <picture class="u-pe-none">
    <source srcset="{{ emptySrc() }}" data-srcset="{{ assetPath('images/bg-products-splash.png') }}" media="(max-width: 639px)">
    {{ lazyImg({
      src: emptySrc(),
      class: 'c-facts__splash-3 c-facts__splash-3--top u-fit-contain u-d-block u-p-absolute u-z-back u-us-none u-hide-medium',
      decoding: 'async'
    }) }}
  </picture>
  <picture class="u-pe-none">
    <source srcset="{{ emptySrc() }}" data-srcset="{{ assetPath('images/bg-products-splash.png') }}" media="(max-width: 639px)">
    {{ lazyImg({
      src: emptySrc(),
      class: 'c-facts__splash-3 c-facts__splash-3--bottom u-fit-contain u-d-block u-p-absolute u-us-none u-z-back u-hide-medium',
      decoding: 'async'
    }) }}
  </picture>


  <div class="c-facts__slot u-p-relative">
    <div class="c-facts__row">
      <div class="c-facts__product u-text-center c-facts__product--bacteria">
        <div class="c-facts__media">
          <svg class="c-facts__icon u-d-block u-c-blue" role="img"><use xlink:href="#svg-icon-bacteria"></use></svg>
        </div>
        <h3 class="c-facts__title u-c-blue o-h2 u-ff-aller u-uppercase">Czym są bakterie <br class="u-show-medium"> kwasu mlekowego?</h3>
        <div class="c-facts__subtitle u-fsz-product  u-uppercase">
          <p>To&nbsp;bakterie, które znajdziemy zarówno w&nbsp;żywności, jak&nbsp;i&nbsp;ludzkim ciele.</p>
          <p>Są niezbędne w&nbsp;produkcji serów i&nbsp;jogurtów.</p>
        </div>
        <button class="c-facts__more u-c-blue o-btn o-btn--more" type="button" data-trigger="bacteria">
          Czytaj dalej
          <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
        </button>
      </div>
      <div class="c-facts__product u-text-center c-facts__product--lgg">
        <div class="c-facts__media">
          {{ lazyImg({
            src: assetPath('images/icon-lgg@2x.png'),
            alt: 'Lactobacillus rhamnosus, LGG®',
            class: 'c-facts__icon u-d-block u-c-blue',
            decoding: 'async'
          }) }}
        </div>
        <h3 class="c-facts__title u-c-blue o-h2 u-ff-aller u-uppercase">Co się kryje <br class="u-show-medium"> pod&nbsp;nazwą LGG<sup>®</sup>?</h3>
        <div class="c-facts__subtitle u-fsz-product  u-uppercase">
          <p>LGG<sup>®</sup> to&nbsp;szczep bakterii <span class="u-none u-ff-din-medium-italic">Lactobacillus&nbsp;rhamnosus</span>.</p>
          <p>LGG<sup>®</sup> to&nbsp;jeden z&nbsp;najlepiej przebadanych szczepów bakterii na&nbsp;świecie.</p>
        </div>
        <button class="c-facts__more u-c-blue o-btn o-btn--more" type="button" data-trigger="lgg">
          Czytaj dalej
          <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
        </button>
      </div>
    </div>
    <div class="c-facts__overlay c-facts__overlay--bacteria" id="bacteria">
      <div class="c-facts__overlay-columns c-facts__overlay-columns--bacteria u-fsz-desc u-show-large">
        <div class="c-facts__overlay-title u-c-blue o-h2 u-ff-aller u-uppercase">
          <svg class="c-facts__overlay-icon u-d-block u-c-blue" role="img"><use xlink:href="#svg-icon-bacteria"></use></svg>
          Czym są bakterie <br class="u-show-medium"> kwasu mlekowego?
        </div>
        <picture>
          <source srcset="{{ emptySrc() }}" data-srcset="{{ assetPath('images/pic-bacteria-mobile@2x.png') }}" media="(max-width: 639px)">
          {{ lazyImg({
            src: assetPath('images/pic-bacteria-desktop@2x.png'),
            class: 'c-facts__overlay-bacteria u-fit-contain u-d-block',
            decoding: 'async'
          }) }}
        </picture>
      </div>
      <div class="c-facts__overlay-columns u-fsz-desc">
        <div class="c-facts__overlay-title u-c-blue o-h2 u-ff-aller u-uppercase u-hide-large">
          <svg class="c-facts__overlay-icon u-d-block u-c-blue" role="img"><use xlink:href="#svg-icon-bacteria"></use></svg>
          Czym są bakterie <br class="u-show-medium"> kwasu mlekowego?
        </div>
        <picture class="u-hide-large">
          <source srcset="{{ emptySrc() }}" data-srcset="{{ assetPath('images/pic-bacteria-mobile@2x.png') }}" media="(max-width: 639px)">
          {{ lazyImg({
            src: assetPath('images/pic-bacteria-desktop@2x.png'),
            class: 'c-facts__overlay-bacteria u-fit-contain u-d-block',
            decoding: 'async'
          }) }}
        </picture>
        <p>„Bak&shy;te&shy;rie kwa&shy;su mle&shy;ko&shy;we&shy;go to&nbsp;gru&shy;pa bak&shy;te&shy;rii, któ&shy;re w&nbsp;wy&shy;ni&shy;ku pro&shy;ce&shy;su fer&shy;men&shy;ta&shy;cji roz&shy;kła&shy;da&shy;ją wę&shy;glo&shy;wo&shy;da&shy;ny, np.&nbsp;lak&shy;to&shy;zę. Pro&shy;ces ten za&shy;cho&shy;dzi z&nbsp;pro&shy;duk&shy;cją kwa&shy;su mle&shy;ko&shy;we&shy;go. Do&nbsp;naj&shy;pow&shy;szech&shy;niej wy&shy;stę&shy;pu&shy;ją&shy;cych ro&shy;dza&shy;jów bak&shy;te&shy;rii kwa&shy;su mle&shy;ko&shy;we&shy;go za&shy;li&shy;cza się <span class="u-none u-ff-din-medium-italic">Lac&shy;to&shy;ba&shy;cil&shy;lus</span>.</p>
        <p>Zdol&shy;ność bak&shy;te&shy;rii do&nbsp;pro&shy;duk&shy;cji kwa&shy;su mle&shy;ko&shy;we&shy;go od&nbsp;daw&shy;na wy&shy;ko&shy;rzy&shy;sty&shy;wa&shy;na jest w&nbsp;pro&shy;duk&shy;cji żyw&shy;no&shy;ści, w&nbsp;szcze&shy;gól&shy;no&shy;ści do&nbsp;pro&shy;duk&shy;cji jo&shy;gur&shy;tów i&nbsp;se&shy;rów.</p>
        <p>Spa&shy;dek pH, któ&shy;ry wy&shy;stę&shy;pu&shy;je pod&shy;czas pro&shy;duk&shy;cji kwa&shy;su mle&shy;ko&shy;we&shy;go, ma ko&shy;rzyst&shy;ny wpływ na&nbsp;kon&shy;ser&shy;wa&shy;cję żyw&shy;no&shy;ści. Kwa&shy;śne śro&shy;do&shy;wi&shy;sko wy&shy;dłu&shy;ża okres przy&shy;dat&shy;no&shy;ści do&nbsp;spo&shy;ży&shy;cia żyw&shy;no&shy;ści oraz&nbsp;mo&shy;że chro&shy;nić przed&nbsp;na&shy;mna&shy;ża&shy;niem się cho&shy;ro&shy;bo&shy;twór&shy;czych bak&shy;te&shy;rii,</p>
        <p>Śro&shy;do&shy;wi&shy;skiem roz&shy;wo&shy;ju bak&shy;te&shy;rii kwa&shy;su mle&shy;ko&shy;we&shy;go są nie&nbsp;tyl&shy;ko pro&shy;duk&shy;ty spo&shy;żyw&shy;cze, ale&nbsp;tak&shy;że cia&shy;ło ludz&shy;kie. Mi&shy;kro&shy;or&shy;ga&shy;ni&shy;zmy te zna&shy;leźć moż&shy;na mię&shy;dzy in&shy;ny&shy;mi w&nbsp;świe&shy;tle prze&shy;wo&shy;du po&shy;kar&shy;mo&shy;we&shy;go. Bak&shy;te&shy;rie kwa&shy;su mle&shy;ko&shy;we&shy;go, szcze&shy;gól&shy;nie z&nbsp;ro&shy;dza&shy;ju <span class="u-none u-ff-din-medium-italic">Lac&shy;to&shy;ba&shy;cil&shy;lus</span>, ko&shy;lo&shy;ni&shy;zu&shy;ją bło&shy;nę ślu&shy;zo&shy;wą je&shy;lit, kon&shy;ku&shy;ru&shy;jąc z&nbsp;póź&shy;niej&shy;szą ko&shy;lo&shy;ni&shy;za&shy;cją po&shy;wierzch&shy;ni mi&shy;kro&shy;or&shy;ga&shy;ni&shy;zma&shy;mi po&shy;ten&shy;cjal&shy;nie pa&shy;to&shy;gen&shy;ny&shy;mi.”</p>
        <p>dr&nbsp;Ju&shy;sty&shy;na By&shy;li&shy;now&shy;ska, Re&shy;dak&shy;tor Die&shy;te&shy;ty&shy;cy.org.pl</p>
        {{ lazyImg({
          src: assetPath('images/pic-products@2x.png'),
          alt: 'Aktiplus - produkty',
          class: 'c-facts__overlay-products u-d-block u-hide-large',
          decoding: 'async'
        }) }}
        <div class="c-facts__overlay-back">
          <button class="c-facts__back o-btn o-btn--back u-c-blue" type="button" data-trigger="bacteria">
            <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
            wróć
          </button>
        </div>
      </div>
    </div>
    <div class="c-facts__overlay c-facts__overlay--lgg" id="lgg">
      <div class="c-facts__overlay-columns-flex u-fsz-desc">
        <div class="c-facts__overlay-column">
          <div class="c-facts__overlay-title u-c-blue o-h2 u-ff-aller u-uppercase">
            {{ lazyImg({
              src: assetPath('images/icon-lgg@2x.png'),
              alt: 'Lactobacillus rhamnosus, LGG®',
              class: 'c-facts__overlay-icon u-d-block u-c-blue',
              decoding: 'async'
            }) }}
            <div>
              Co się kryje <br> pod nazwą LGG<sup>®</sup>?
            </div>
          </div>
          <p>Bar&shy;dzo do&shy;brze po&shy;zna&shy;nym, sto&shy;so&shy;wa&shy;nym w&nbsp;żyw&shy;no&shy;ści i&nbsp;su&shy;ple&shy;men&shy;tach die&shy;ty szcze&shy;pem bak&shy;te&shy;rii kwa&shy;su mle&shy;ko&shy;we&shy;go jest <span class="u-none u-ff-din-medium-italic">Lac&shy;to&shy;ba&shy;cil&shy;lus rham&shy;no&shy;sus</span>, LGG<sup>®</sup>.</p>
          <p>LGG<sup>®</sup> to&nbsp;je&shy;den z&nbsp;naj&shy;le&shy;piej prze&shy;ba&shy;da&shy;nych szcze&shy;pów bak&shy;te&shy;rii na&nbsp;świe&shy;cie. Po&shy;nad 250 pu&shy;bli&shy;ka&shy;cji opi&shy;su&shy;ją&shy;cych ba&shy;da&shy;nia kli&shy;nicz&shy;ne na&nbsp;lu&shy;dziach po&shy;ru&shy;sza je&shy;go te&shy;ma&shy;ty&shy;kę. Szczep zo&shy;stał wy&shy;izo&shy;lo&shy;wa&shy;ny z&nbsp;prób&shy;ki z&nbsp;ludz&shy;kie&shy;go je&shy;li&shy;ta (1) przez&nbsp;Gor&shy;ba&shy;cha i&nbsp;Gol&shy;di&shy;na, i&nbsp;jest sto&shy;so&shy;wa&shy;ny na&nbsp;ca&shy;łym świe&shy;cie od&nbsp;1990 r. ja&shy;ko skład&shy;nik pro&shy;duk&shy;tów mlecz&shy;nych. Prze&shy;ba&shy;da&shy;no go pod&nbsp;ką&shy;tem róż&shy;nych ob&shy;sza&shy;rów zdro&shy;wia, u&nbsp;no&shy;wo&shy;rod&shy;ków, (2) dzie&shy;ci, (3), (4) (5) ko&shy;biet w&nbsp;cią&shy;ży, (6), (7) do&shy;ro&shy;słych, (8) i&nbsp;osób star&shy;szych (9).</p>
        </div>
        <div class="c-facts__overlay-column c-facts__overlay-column--lgg">
          <div class="c-facts__overlay-lgg u-p-relative">
            {{ lazyImg({
              src: assetPath('images/pic-products-2@2x.png'),
              alt: 'Aktiplus - produkty',
              class: 'c-facts__overlay-lgg-products u-d-block u-p-absolute u-fit-contain',
              decoding: 'async'
            }) }}
            {{ lazyImg({
              src: assetPath('images/pic-lgg-hero@2x.png'),
              class: 'c-facts__overlay-lgg-lgg u-d-block u-p-absolute u-fit-contain',
              alt: 'Lactobacillus rhamnosus, LGG®',
              decoding: 'async'
            }) }}
          </div>
        </div>
      </div>
      <div class="u-fsz-desc">
        Bibliografia:
      </div>
      <div class="c-facts__overlay-columns u-fsz-desc">
        <div class="u-fsz-small">
          1. Goldin BR, et al. Survival of Lactobacillus species (strain GG) in human gastrointestinal tract. Dig Dis Sci. 1992;37(1):121-8. (PubMed)<br>
          2. Arvola T, et al. Prophylactic Lactobacillus GG reduces antibiotic-associated diarrhea in children with respiratory infections: a randomized study. Pediatrics. 1999;104(5):e64. (PubMed)<br>
          3. Vanderhoof JA, et al. Lactobacillus GG in the prevention of antibiotic-associated diarrhea in children. The Journal of Pediatrics. 1999;135(5):564-8. (PubMed)<br>
          4. Hojsak I, et al. Lactobacillus GG in the prevention of nosocomial gastrointestinal and respiratory tract infections. Pediatrics. 2010;125(5):e1171-7. (PubMed)<br>
          5. Isolauri E, et al. A human Lactobacillus strain (Lactobacillus casei sp strain GG) promotes recovery from acute diarrhea in children. Pediatrics. 1991;88(1):90-7. (PubMed)<br>
          6. Gueimonde M, et al. Effect of maternal consumption of lactobacillus GG on transfer and establishment of fecal bifidobacterial microbiota in neonates. J Pediatr Gastroenterol Nutr. 2006;42(2):166-70. (PubMed)<br>
          7. Lahtinen SJ, et al. Prenatal probiotic administration can influence Bifidobacterium microbiota development in infants at high risk of allergy. J Allergy Clin Immunol. 2009;123(2):499-501. (PubMed)<br>
          8. Hilton E, et al. Efficacy of Lactobacillus GG as a Diarrheal Preventive in Travelers. J Travel Med. 1997;4(1):41-3. (PubMed)<br>
          9. Hatakka K, et al. Probiotics reduce the prevalence of oral candida in the elderly -&nbsp;a&nbsp;randomized controlled trial. J Dent Res. 2007;86(2):125-30. (PubMed)<br>
        </div>
      </div>
      <div class="c-facts__overlay-back">
        <button class="c-facts__back o-btn o-btn--back u-c-blue" type="button" data-trigger="lgg">
          <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
          wróć
        </button>
      </div>
    </div>
  </div>
  <div class="c-facts__slot u-p-relative">
    <div class="c-facts__row">
      <div class="c-facts__product u-text-center c-facts__product--yogurt">
        <div class="c-facts__media">
          <svg class="c-facts__icon u-d-block u-c-blue" role="img"><use xlink:href="#svg-icon-yogurt"></use></svg>
        </div>
        <h3 class="c-facts__title u-c-blue o-h2 u-ff-aller u-uppercase">Jak powstaje jogurt? <br> Czym jest fermentacja?</h3>
        <div class="c-facts__subtitle u-fsz-product  u-uppercase">
          <p>Jogurt powstaje w&nbsp;wyniku fermentacji mlekowej polegającej na&nbsp;ukwaszaniu mleka w&nbsp;wyniku działania specjalnie dobranych kultur&nbsp;bakterii.</p>
          <p>To&nbsp;im zawdzięcza swój smak, aromat i&nbsp;konsystencję.</p>
        </div>
        <button class="c-facts__more u-c-blue o-btn o-btn--more" type="button" data-trigger="yogurt">
          Czytaj dalej
          <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
        </button>
      </div>
      <div class="c-facts__product u-text-center c-facts__product--milk">
        <div class="c-facts__media">
          <svg class="c-facts__icon u-d-block u-c-blue" role="img"><use xlink:href="#svg-icon-milk"></use></svg>
        </div>
        <h3 class="c-facts__title u-c-blue o-h2 u-ff-aller u-uppercase">Jaką rolę pełnią bakterie jogurtowe w&nbsp;trawieniu&nbsp;laktozy?</h3>
        <div class="c-facts__subtitle u-fsz-product  u-uppercase">
          <p>Osoby z&nbsp;nietolerancją laktozy zazwyczaj lepiej tolerują jogurt.</p>
          <p>Dzieje się tak&nbsp;dlatego, że&nbsp;żywe kultury bakterii jogurtowych zużywają częściowo laktozę w&nbsp;procesie fermentacji, redukując jej&nbsp;ilość.</p>
        </div>
        <button class="c-facts__more u-c-blue o-btn o-btn--more" type="button" data-trigger="milk">
          Czytaj dalej
          <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
        </button>
      </div>
    </div>
    <div class="c-facts__overlay c-facts__overlay--yogurt" id="yogurt">
      <div class="c-facts__overlay-columns u-fsz-desc">
        <div class="c-facts__overlay-title u-c-blue o-h2 u-ff-aller u-uppercase">
          <svg class="c-facts__overlay-icon u-d-block u-c-blue" role="img"><use xlink:href="#svg-icon-yogurt"></use></svg>
          Jak powstaje jogurt? <br> Czym jest fermentacja?
        </div>
        {{ lazyImg({
          src: assetPath('images/pic-doctor@2x.png'),
          alt: 'Doktor',
          class: 'c-facts__overlay-doctor u-d-block u-fit-contain',
          decoding: 'async'
        }) }}
        <p>„Jo&shy;gurt to&nbsp;mle&shy;ko ukwa&shy;szo&shy;ne przez&nbsp;bak&shy;te&shy;rie jo&shy;gur&shy;to&shy;we <span class="u-none u-ff-din-medium-italic">Lac&shy;to&shy;ba&shy;cil&shy;lus del&shy;bru&shy;ec&shy;kii ssp. bul&shy;ga&shy;ri&shy;cus</span> i&nbsp;<span class="u-none u-ff-din-medium-italic">Strep&shy;to&shy;coc&shy;cus sa&shy;li&shy;va&shy;rus ssp. ther&shy;mo&shy;phi&shy;lus</span>, któ&shy;re wy&shy;ko&shy;rzy&shy;stu&shy;jąc skład&shy;ni&shy;ki mle&shy;ka (przede wszyst&shy;kim cu&shy;kier mle&shy;ko&shy;wy – lak&shy;to&shy;zę) wy&shy;twa&shy;rza&shy;ją związ&shy;ki, two&shy;rzą&shy;ce smak i&nbsp;aro&shy;mat jo&shy;gur&shy;tu oraz&nbsp;je&shy;go struk&shy;tu&shy;rę i&nbsp;kon&shy;sy&shy;sten&shy;cję.</p>
        <p>Ogól&shy;na za&shy;sa&shy;da jest za&shy;wsze ta&shy;ka sa&shy;ma. Do&nbsp;mle&shy;ka o&nbsp;wy&shy;so&shy;kiej ja&shy;ko&shy;ści, po&nbsp;znor&shy;ma&shy;li&shy;zo&shy;wa&shy;niu do&nbsp;po&shy;żą&shy;da&shy;nej za&shy;war&shy;to&shy;ści tłusz&shy;czu, ho&shy;mo&shy;ge&shy;ni&shy;za&shy;cji i&nbsp;pa&shy;ste&shy;ry&shy;za&shy;cji oraz&nbsp;schło&shy;dze&shy;niu do&nbsp;tem&shy;pe&shy;ra&shy;tu&shy;ry fer&shy;men&shy;ta&shy;cji ok. 43°C, do&shy;da&shy;je&shy;my bak&shy;te&shy;rie jo&shy;gur&shy;to&shy;we.</p>
        <p>Fer&shy;men&shy;ta&shy;cje mo&shy;że&shy;my prze&shy;pro&shy;wa&shy;dzić na&nbsp;dwa spo&shy;so&shy;by. Mo&shy;że ona za&shy;cho&shy;dzić w&nbsp;opa&shy;ko&shy;wa&shy;niu (me&shy;to&shy;da ter&shy;mo&shy;sta&shy;to&shy;wa) dzię&shy;ki cze&shy;mu uzy&shy;sku&shy;je&shy;my pro&shy;dukt o&nbsp;kon&shy;sy&shy;sten&shy;cji zsia&shy;dłe&shy;go mle&shy;ka. Mo&shy;że&shy;my tak&shy;że prze&shy;pro&shy;wa&shy;dzić ją w&nbsp;tan&shy;ku fer&shy;men&shy;ta&shy;cyj&shy;nym (me&shy;to&shy;da zbior&shy;ni&shy;ka), w&nbsp;któ&shy;rym jest on wy&shy;mie&shy;sza&shy;ny po&nbsp;osią&shy;gnię&shy;ciu od&shy;po&shy;wied&shy;niej kwa&shy;so&shy;wo&shy;ści, a&nbsp;na&shy;stęp&shy;nie roz&shy;le&shy;wa&shy;ny do&nbsp;opa&shy;ko&shy;wań.</p>
        <p>Jo&shy;gurt de&shy;fi&shy;niu&shy;je licz&shy;ba ży&shy;wych bak&shy;te&shy;rii, któ&shy;ra w&nbsp;ostat&shy;nim dniu je&shy;go ter&shy;mi&shy;nu przy&shy;dat&shy;no&shy;ści do&nbsp;spo&shy;ży&shy;cia po&shy;win&shy;na wy&shy;no&shy;sić co naj&shy;mniej 10<sup>6</sup> jed&shy;no&shy;stek two&shy;rzą&shy;cych ko&shy;lo&shy;nie w&nbsp;1 gra&shy;mie pro&shy;duk&shy;tu.</p>
        <p>Jo&shy;gurt jest pro&shy;duk&shy;tem po&shy;le&shy;ca&shy;nym nie&nbsp;tyl&shy;ko sma&shy;ko&shy;szom, ale&nbsp;rów&shy;nież oso&shy;bom z&nbsp;czę&shy;ścio&shy;wą nie&shy;to&shy;le&shy;ran&shy;cją lak&shy;to&shy;zy.”</p>
        <p>dr&nbsp;hab. inż.&nbsp;Ju&shy;sty&shy;na Żu&shy;lew&shy;ska</p>
        <div class="c-facts__overlay-back">
          <button class="c-facts__back o-btn o-btn--back u-c-blue" type="button" data-trigger="yogurt">
            <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
            wróć
          </button>
        </div>
      </div>
    </div>
    <div class="c-facts__overlay c-facts__overlay--milk" id="milk">
      <picture class="u-pe-none">
        <source srcset="{{ emptySrc() }}" data-srcset="{{ assetPath('images/pic-bacteria-2-mobile@2x.png') }}" media="(max-width: 639px)">
        {{ lazyImg({
          src: assetPath('images/pic-bacteria-2-desktop@2x.jpg'),
          alt: 'Bakterie',
          class: 'c-facts__overlay-bacteria-2 u-fit-cover u-p-absolute',
          decoding: 'async'
        }) }}
      </picture>
      <div class="c-facts__overlay-one-column u-fsz-desc u-p-relative">
        <div class="c-facts__overlay-title u-c-blue o-h2 u-ff-aller u-uppercase">
          <svg class="c-facts__overlay-icon u-d-block u-c-blue" role="img"><use xlink:href="#svg-icon-milk"></use></svg>
          Jaką rolę pełnią bakterie jogurtowe w&nbsp;trawieniu laktozy?
        </div>
        <p>„Za&shy;ob&shy;ser&shy;wo&shy;wa&shy;no, że&nbsp;oso&shy;by z&nbsp;za&shy;bu&shy;rze&shy;nia&shy;mi tra&shy;wie&shy;nia lak&shy;to&shy;zy lub te z&nbsp;jej nie&shy;to&shy;le&shy;ran&shy;cją, wy&shy;ni&shy;ka&shy;ją&shy;cą z&nbsp;de&shy;fi&shy;cy&shy;tu lak&shy;ta&shy;zy – en&shy;zy&shy;mu tra&shy;wią&shy;ce&shy;go lak&shy;to&shy;zę -  bądź po&shy;stę&shy;pu&shy;ją&shy;ce&shy;go wraz z&nbsp;wie&shy;kiem ob&shy;ni&shy;że&shy;nia ak&shy;tyw&shy;no&shy;ści te&shy;go en&shy;zy&shy;mu, le&shy;piej to&shy;le&shy;ru&shy;ją  jo&shy;gurt.</p>
        <p>Dzie&shy;je się tak, po&shy;nie&shy;waż cu&shy;kier ten (lak&shy;to&shy;za) za&shy;war&shy;ty w&nbsp;jo&shy;gur&shy;cie, jest tra&shy;wio&shy;ny wy&shy;daj&shy;niej niż w&nbsp;nie&shy;fer&shy;men&shy;to&shy;wa&shy;nych  pro&shy;duk&shy;tach mlecz&shy;nych.</p>
        <p>Jak to&nbsp;moż&shy;li&shy;we? Jo&shy;gurt to&nbsp;for&shy;ma sfer&shy;men&shy;to&shy;wa&shy;ne&shy;go mle&shy;ka, za&shy;wie&shy;ra&shy;ją&shy;ca ży&shy;we kul&shy;tu&shy;ry bak&shy;te&shy;rii <span class="u-none u-ff-din-medium-italic">Lac&shy;to&shy;ba&shy;cil&shy;lus del&shy;bru&shy;ec&shy;kii subsp. bul&shy;ga&shy;ri&shy;cus</span> i&nbsp;<span class="u-none u-ff-din-medium-italic">Strep&shy;to&shy;coc&shy;cus ther&shy;mo&shy;phi&shy;lus</span>, któ&shy;re roz&shy;kła&shy;da&shy;ją lak&shy;to&shy;zę do&nbsp;for&shy;my le&shy;piej przy&shy;swa&shy;jal&shy;nej.</p>
        <p>Licz&shy;ba ży&shy;wych mi&shy;kro&shy;or&shy;ga&shy;ni&shy;zmów po&shy;win&shy;na wy&shy;no&shy;sić, co naj&shy;mniej 10<sup>8</sup> ko&shy;mó&shy;rek na&nbsp;1 gram jo&shy;gur&shy;tu, aby po&shy;pra&shy;wić tra&shy;wi&shy;nie za&shy;war&shy;tej w&nbsp;pro&shy;duk&shy;cie lak&shy;to&shy;zy przez&nbsp;oso&shy;by z&nbsp;za&shy;bu&shy;rze&shy;nia&shy;mi jej tra&shy;wie&shy;nia.</p>
        <p>Za&shy;leż&shy;ność ta zna&shy;la&shy;zła swo&shy;je od&shy;zwier&shy;cie&shy;dle&shy;nie w&nbsp;po&shy;zy&shy;tyw&shy;nej opi&shy;nii  Eu&shy;ro&shy;pej&shy;skie&shy;go Urząd ds.&nbsp;Bez&shy;pie&shy;czeń&shy;stwa Żyw&shy;no&shy;ści.”</p>
        <p>dr&nbsp;Ju&shy;sty&shy;na By&shy;li&shy;now&shy;ska, Re&shy;dak&shy;tor Die&shy;te&shy;ty&shy;cy.org.pl</p>
        <div class="c-facts__overlay-back">
          <button class="c-facts__back o-btn o-btn--back u-c-blue" type="button" data-trigger="milk">
            <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
            wróć
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="c-facts__slot u-p-relative">
    <div class="c-facts__row">
      <div class="c-facts__product u-text-center c-facts__product--microbiota">
        <div class="c-facts__media">
          <svg class="c-facts__icon u-d-block u-c-blue" role="img"><use xlink:href="#svg-icon-microbiota"></use></svg>
        </div>
        <h3 class="c-facts__title u-c-blue o-h2 u-ff-aller u-uppercase">Mikrobiota <br class="u-show-medium"> w&nbsp;organizmie człowieka</h3>
        <div class="c-facts__subtitle u-fsz-product  u-uppercase">
          <p>Prawidłowa mikrobiota jest ważnym czynnikiem warunkującym właściwe funkcjonowanie całego&nbsp;organizmu.</p>
          <p>Odpowiednia dieta i&nbsp;styl życia mogą korzystnie wpływać na&nbsp;rozwój prawidłowej&nbsp;mikrobioty.</p>
        </div>
        <button class="c-facts__more u-c-blue o-btn o-btn--more" type="button" data-trigger="microbiota">
          Czytaj dalej
          <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
        </button>
      </div>
    </div>
    <div class="c-facts__overlay c-facts__overlay--microbiota" id="microbiota">
      <div class="c-facts__overlay-columns-flex u-fsz-desc">
        <div class="c-facts__overlay-column">
          <div class="c-facts__overlay-title u-c-blue o-h2 u-ff-aller u-uppercase">
            <svg class="c-facts__overlay-icon u-d-block u-c-blue" role="img"><use xlink:href="#svg-icon-microbiota"></use></svg>
            Mikrobiota <br class="u-show-medium"> w&nbsp;organizmie człowieka
          </div>
          <p>„Pra&shy;wi&shy;dło&shy;wa mi&shy;kro&shy;bio&shy;ta, czy&shy;li mi&shy;kro&shy;or&shy;ga&shy;ni&shy;zmy  za&shy;sie&shy;dla&shy;ją&shy;ce m.in.&nbsp;prze&shy;wód po&shy;kar&shy;mo&shy;wy,   jest waż&shy;nym czyn&shy;ni&shy;kiem wa&shy;run&shy;ku&shy;ją&shy;cym wła&shy;ści&shy;we funk&shy;cjo&shy;no&shy;wa&shy;nie ca&shy;łe&shy;go or&shy;ga&shy;ni&shy;zmu.</p>
          <p>Licz&shy;ne pu&shy;bli&shy;ka&shy;cje  ana&shy;li&shy;zu&shy;ją kon&shy;se&shy;kwen&shy;cje nie&shy;po&shy;żą&shy;da&shy;nej zmia&shy;ny  mi&shy;kro&shy;bio&shy;ty je&shy;li&shy;to&shy;wej, po&shy;le&shy;ga&shy;ją&shy;cą  na&nbsp;za&shy;bu&shy;rze&shy;niu  rów&shy;no&shy;wa&shy;gi po&shy;mię&shy;dzy róż&shy;ny&shy;mi ty&shy;pa&shy;mi bak&shy;te&shy;rii. Wska&shy;zu&shy;je się na&nbsp;zwią&shy;zek za&shy;bu&shy;rzeń mi&shy;kro&shy;bio&shy;ty z&nbsp;oty&shy;ło&shy;ścią i&nbsp;jej po&shy;wi&shy;kła&shy;nia&shy;mi. Bie&shy;gun&shy;ka po&shy;an&shy;ty&shy;bio&shy;ty&shy;ko&shy;wa jest rów&shy;nież kon&shy;se&shy;kwen&shy;cją zmian mi&shy;kro&shy;bio&shy;ty.</p>
          <p>Na  pra&shy;wi&shy;dło&shy;we kształ&shy;to&shy;wa&shy;nie mi&shy;kro&shy;bio&shy;ty je&shy;li&shy;to&shy;wej ma wpływ wie&shy;le czyn&shy;ni&shy;ków po&shy;czy&shy;na&shy;jąc m.in.&nbsp;od&nbsp;po&shy;ro&shy;du, przez&nbsp;die&shy;tę i&nbsp;spo&shy;sób ży&shy;wie&shy;nia już od&nbsp;pierw&shy;szych dni ży&shy;cia, jak rów&shy;nież czyn&shy;ni&shy;ki śro&shy;do&shy;wi&shy;sko&shy;we np.&nbsp;an&shy;ty&shy;bio&shy;ty&shy;ki.</p>
          <p>Od&shy;po&shy;wied&shy;nia die&shy;ta i&nbsp;styl ży&shy;cia mo&shy;gą ko&shy;rzyst&shy;nie wpły&shy;wać na&nbsp;roz&shy;wój pra&shy;wi&shy;dło&shy;wej mi&shy;kro&shy;bio&shy;ty. Me&shy;to&shy;dą bez&shy;po&shy;śred&shy;nie&shy;go wpły&shy;wu na&nbsp;mi&shy;kro&shy;bio&shy;tę je&shy;li&shy;to&shy;wą jest po&shy;da&shy;wa&shy;nie pro&shy;bio&shy;ty&shy;ków, czy&shy;li szcze&shy;pów prze&shy;ba&shy;da&shy;nych pod&nbsp;wzglę&shy;dem bez&shy;pie&shy;czeń&shy;stwa i&nbsp;ko&shy;rzyst&shy;nych efek&shy;tów zdro&shy;wot&shy;nych.”</p>
          <p>prof.&nbsp;dr&nbsp;hab. n. med. Piotr So&shy;cha</p>
          <div class="c-facts__overlay-back u-show-medium">
            <button class="c-facts__back o-btn o-btn--back u-c-blue" type="button" data-trigger="microbiota">
              <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
              wróć
            </button>
          </div>
        </div>
        <div class="c-facts__overlay-column">
          {{ lazyImg({
            src: assetPath('images/pic-microbiota@2x.png'),
            alt: 'Mikrobiota',
            class: 'c-facts__overlay-microbiota u-d-block u-fit-contain',
            decoding: 'async'
          }) }}
          <div class="c-facts__overlay-back u-hide-medium">
            <button class="c-facts__back o-btn o-btn--back u-c-blue" type="button" data-trigger="microbiota">
              <svg class="o-btn__icon" width="24" height="14" role="img"><use xlink:href="#svg-icon-arrow"></use></svg>
              wróć
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
