<footer class="c-footer u-fsz-menu u-c-white u-ff-din-regular u-p-relative">
  <nav class="c-footer__inner o-wrapper">
    <div class="c-footer__column">
      <a class="c-footer__squeeze" href="#poznaj-fakty">Czym jest LGG®?</a>
      <a class="c-footer__squeeze" href="#odkryj-smaki">Produkty</a>
    </div>
    <div class="c-footer__column">
      <a class="c-footer__squeeze" href="https://www.biedronka.pl/pl/polityka-prywatnosci" rel="noreferrer noopener" target="_blank">Polityka prywatności</a>
      <a class="c-footer__squeeze" href="https://www.biedronka.pl/pl/kontakt" rel="noreferrer noopener" target="_blank">Kontakt</a>
    </div>
    <div class="c-footer__column">
      <span class="c-footer__squeeze">Śledź nas</span>
      <div class="c-footer__social">
        <a class="c-footer__social-link" href="https://pl-pl.facebook.com/BiedronkaCodziennie/" target="_blank" rel="noreferrer noopener">
          <svg class="c-footer__social-icon c-footer__social-icon--facebook u-d-block" width="32" height="24">
            <use xlink:href="#svg-facebook"></use>
          </svg>
        </a>
        <a class="c-footer__social-link" href="https://www.youtube.com/user/SklepyBiedronka" target="_blank" rel="noreferrer noopener">
          <svg class="c-footer__social-icon c-footer__social-icon--youtube u-d-block" width="32" height="24">
            <use xlink:href="#svg-youtube"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="c-footer__column">
      <a class="c-footer__brand" href="https://www.biedronka.pl/" target="_blank" rel="noopener noreferrer">

        {{ lazyImg({
          class: 'c-footer__brand-img u-d-block u-fit-contain',
          src: assetPath('images/logo-biedronka-footer@2x.png'),
          alt: 'Biedronka',
          width: 116,
          height: 35
        }) }}
      </a>
    </div>
  </nav>
</footer>
