<header class="c-header">
  <div class="c-header__inner o-wrapper">
    <a class="c-header__logo" href="./">
      <img class="c-header__logo-img u-d-block u-fit-contain" src="{{ assetPath('images/logo-aktiplus@2x.png') }}" alt="Aktiplus" width="68" height="22">
    </a>
    <div class="c-header__menu-wrapper">
      <nav class="c-header__menu u-fsz-menu u-uppercase u-ff-din-regular o-generic-links">
        <a class="c-header__menu-item" href="#odkryj-smaki">Odkryj produkty</a>
        <a class="c-header__menu-item" href="#poznaj-fakty">Poznaj fakty</a>
        <a class="c-header__menu-item" href="#gra">Baw się na plus</a>
      </nav>
    </div>
    <a class="c-header__brand" href="https://www.biedronka.pl/" target="_blank" rel="noopener noreferrer">
      <img class="c-header__brand-img u-d-block u-fit-contain" src="{{ assetPath('images/logo-biedronka-top@2x.png') }}" alt="Biedronka" width="110" height="28">
    </a>
    <button class="c-header__menu-open o-generic-link" type="button">
      Otwórz menu
    </button>
    <button class="c-header__menu-close o-generic-link" type="button">
      Zamknij menu
    </button>
  </div>
</header>
