<section class="c-hero o-wrapper-padding u-p-relative">
  {#
  <picture>
    <source srcset="{{ emptySrc() }}" data-srcset="{{ assetPath('images/bg-hero-splash-mobile.png') }}" media="(max-width: 639px)">
    {{ lazyImg({
      src: assetPath('images/bg-hero-splash.png'),
      class: 'c-hero__splash u-p-absolute u-z-back u-pe-none u-us-none'
    }) }}
  </picture>
  #}
  <img class="c-hero__dots u-p-absolute u-z-back u-pe-none u-us-none" src="{{ assetPath('images/bg-hero-dots.png') }}" alt="">
  <div class="c-hero__content u-p-relative">
    <h3 class="c-hero__strapline u-uppercase u-c-red o-h3 u-ff-aller u-mb-0">Nowość</h3>
    <h1 class="c-hero__title u-uppercase u-c-blue o-h1 u-ff-aller u-mb-0">
      Aktiplus, LGG<sup>®</sup>
      <br>
      Plus dla odporności<sup>*</sup>
    </h1>
    <div class="c-hero__text u-uppercase u-fsz-hero">
      12,5 miliarda bakterii <br>
      <span class="u-none u-ff-din-medium-italic u-c-blue">Lactobacillus rhamnosus, LGG<sup>®</sup></span><br>
      Jeden z&nbsp;najlepiej przebadanych <br>
      klinicznie szczepów bakterii na&nbsp;świecie <br>
      + witamina b6 i&nbsp;witamina D*
    </div>
    <picture>
      <source srcset="{{ assetPath('images/logo-lgg-desktop@2x.png') }}" media="(min-width: 900px)">
      <img class="c-hero__logo u-fit-contain u-d-block" src="{{ assetPath('images/logo-lgg@2x.png') }}" alt="Lactobacillus rhamnosus, LGG®">
    </picture>
  </div>
  <div class="c-hero__product u-p-relative">
    <picture>
      <source srcset="{{ assetPath('images/pic-lgg-hero-mobile@2x.png') }}" media="(max-width: 639px)">
      <img class="c-hero__product-lgg u-p-absolute" src="{{ assetPath('images/pic-lgg-hero@2x.png') }}" alt="Lactobacillus rhamnosus, LGG®">
    </picture>
    <picture>
      <source srcset="{{ assetPath('images/pic-berries-hero-mobile@2x.png') }}" media="(max-width: 639px)">
      <img class="c-hero__product-bottle u-p-relative u-d-block" src="{{ assetPath('images/pic-berries-hero@2x.png?v2') }}" alt="Aktiplus - Jagoda">
    </picture>
  </div>
</section>
