<section class="c-hit-game o-wrapper-bigger u-p-relative">
  <div class="o-anchor">
    <div class="o-anchor__link" id="gra"></div>
  </div>
  <div class="c-hit-game__header u-p-relative">
    <div class="c-hit-game__intro u-uppercase u-text-center u-p-absolute is-active">
      {{ lazyImg({
        src: assetPath('images/bad-bacteria-3-2.svg'),
        class: 'c-hit-game__intro-bacteria-1',
        decoding: 'async'
      }) }}
      <div class="c-hit-game__intro-text u-ff-lores">Celuj<br> w bakterie</div>
      {{ lazyImg({
        src: assetPath('images/bad-bacteria-1.svg'),
        class: 'c-hit-game__intro-bacteria-2',
        decoding: 'async'
      }) }}
    </div>
    <div class="c-hit-game__scoreboard u-p-absolute is-hidden">
      {{ lazyImg({
        src: assetPath('images/hourglass.svg'),
        class: 'c-hit-game__scoreboard-hourglass',
        decoding: 'async'
      }) }}
      <div class="c-hit-game__scoreboard-board c-hit-game__scoreboard-board--time u-text-center u-ff-lores u-c-white u-p-relative">
        {{ lazyImg({
          src: assetPath('images/scoreboard.svg'),
          class: 'c-hit-game__scoreboard-board-bg',
          decoding: 'async'
        }) }}
        <span>0:01</span>
      </div>
      {{ lazyImg({
        src: assetPath('images/bumper.svg'),
        class: 'c-hit-game__scoreboard-bumper',
        decoding: 'async'
      }) }}
      <div class="c-hit-game__scoreboard-board c-hit-game__scoreboard-board--result u-text-center u-ff-lores u-c-white u-p-relative">
        {{ lazyImg({
          src: assetPath('images/scoreboard.svg'),
          class: 'c-hit-game__scoreboard-board-bg',
          decoding: 'async'
        }) }}
        <span>0</span>
      </div>
    </div>
  </div>
  <div class="c-hit-game__board u-p-relative">
    <div class="c-hit-game__start u-p-absolute is-active">
      {{ lazyImg({
        src: assetPath('images/professor-1.svg'),
        class: 'c-hit-game__start-professor',
        decoding: 'async'
      }) }}
      <div class="c-hit-game__line-1">
        {{ lazyImg({
          src: assetPath('images/magnifier.svg'),
          class: 'c-hit-game__start-magnifier u-hide-medium',
          decoding: 'async'
        }) }}
        <div class="c-hit-game__start-bacteria-1 c-hit-game__bacteria c-hit-game__bacteria--b4">
          {{ lazyImg({
            src: assetPath('images/bad-bacteria-4.svg'),
            class: 'c-hit-game__bacteria-img',
            decoding: 'async'
          }) }}
        </div>
        {{ lazyImg({
          src: assetPath('images/text-1.svg'),
          class: 'c-hit-game__text-1',
          decoding: 'async'
        }) }}
      </div>
      <div class="c-hit-game__line-2">
        <div class="c-hit-game__start-bacteria-2 c-hit-game__bacteria c-hit-game__bacteria--g1">
          {{ lazyImg({
            src: assetPath('images/good-bacteria-1.svg'),
            class: 'c-hit-game__bacteria-img',
            decoding: 'async'
          }) }}
        </div>
        {{ lazyImg({
          src: assetPath('images/text-2.svg'),
          class: 'c-hit-game__text-2',
          decoding: 'async'
        }) }}
      </div>
      <div class="c-hit-game__line-3">
        <picture>
          <source srcset="{{ emptySrc() }}" data-srcset="{{ assetPath('images/text-3-mobile.svg') }}" media="(max-width: 639px)">
          {{ lazyImg({
            src: assetPath('images/text-3.svg'),
            class: 'c-hit-game__text-3',
            decoding: 'async'
          }) }}
        </picture>
        <button class="c-hit-game__start-button u-text-center u-ff-lores u-c-white u-uppercase" type="button">
          {{ lazyImg({
            src: assetPath('images/start-button.svg'),
            class: 'c-hit-game__start-button-img',
            decoding: 'async'
          }) }}
          <span>Start!</span>
        </button>
      </div>
    </div>
    <div class="c-hit-game__game is-hidden u-p-absolute">
      <div class="c-hit-game__game-hurt u-p-absolute u-ff-lores u-uppercase u-text-center">
        {{ lazyImg({
          src: assetPath('images/hurt.svg'),
          class: 'c-hit-game__game-hurt-icon',
          decoding: 'async'
        }) }}
      </div>
    </div>
    <div class="c-hit-game__finish u-p-absolute is-hidden">
      <div class="c-hit-game__finish-1 c-hit-game__bacteria c-hit-game__bacteria--g1">
        {{ lazyImg({
          src: assetPath('images/good-bacteria-1.svg'),
          class: 'c-hit-game__bacteria-img',
          decoding: 'async'
        }) }}
      </div>
      <div class="c-hit-game__finish-2">
        <div class="c-hit-game__finish-2--1 c-hit-game__bacteria c-hit-game__bacteria--g4">
          {{ lazyImg({
            src: assetPath('images/good-bacteria-4.svg'),
            class: 'c-hit-game__bacteria-img',
            decoding: 'async'
          }) }}
        </div>
        <div class="c-hit-game__finish-2--2 c-hit-game__bacteria c-hit-game__bacteria--g4">
          {{ lazyImg({
            src: assetPath('images/good-bacteria-4.svg'),
            class: 'c-hit-game__bacteria-img',
            decoding: 'async'
          }) }}
        </div>
      </div>
      <div class="c-hit-game__finish-3 c-hit-game__bacteria c-hit-game__bacteria--g2">
        {{ lazyImg({
          src: assetPath('images/good-bacteria-2.svg'),
          class: 'c-hit-game__bacteria-img',
          decoding: 'async'
        }) }}
      </div>
      <div class="c-hit-game__finish-4 c-hit-game__bacteria c-hit-game__bacteria--g3">
        {{ lazyImg({
          src: assetPath('images/good-bacteria-3.svg'),
          class: 'c-hit-game__bacteria-img',
          decoding: 'async'
        }) }}
      </div>
      <div class="c-hit-game__finish-professor u-p-relative u-text-center">
        {{ lazyImg({
          src: assetPath('images/professor-hands.svg'),
          class: 'c-hit-game__finish-professor-hands',
          decoding: 'async'
        }) }}
        {{ lazyImg({
          src: assetPath('images/professor-2.svg'),
          class: 'c-hit-game__finish-professor-body u-p-relative',
          decoding: 'async'
        }) }}
      </div>
      <div class="c-hit-game__finish-cup">
        {{ lazyImg({
          src: assetPath('images/band.svg'),
          class: 'c-hit-game__finish-cup-band',
          decoding: 'async'
        }) }}
        {{ lazyImg({
          src: assetPath('images/bumber-end.svg'),
          class: 'c-hit-game__finish-cup-bumper',
          decoding: 'async'
        }) }}
      </div>
      <button class="c-hit-game__finish-retry u-p-relative u-uppercase u-text-center u-c-white u-ff-lores" type="button">
        {{ lazyImg({
          src: assetPath('images/retry-button.svg'),
          class: 'c-hit-game__finish-retry-img',
          decoding: 'async'
        }) }}
        <span>
          Graj<br>
          jeszcze<br>
          raz!
        </span>
      </button>
    </div>
  </div>
</section>
