<section class="c-info o-wrapper u-text-center u-p-relative">
  <div class="c-info__media u-p-relative">
    {{ lazyImg({
      src: assetPath('images/bg-foot-splash.png'),
      class: 'c-info__splash u-fit-contain u-d-block u-p-absolute u-z-back u-pe-none u-us-none',
      decoding: 'async'
    }) }}
    {{ lazyImg({
      src: assetPath('images/pic-lgg-hero@2x.png'),
      class: 'c-info__lgg u-fit-contain u-p-relative',
      alt: 'Lactobacillus rhamnosus, LGG®'
    }) }}
  </div>
  <div class="c-info__text u-fsz-small u-p-relative">
    *AktiPlus zawiera witaminę B6 0,21 mg/100 g (15 % DRWS**) i&nbsp;witaminę D 0,75 ug/100 g (15% DRWS**). Witamina B6 i&nbsp;witamina D pomagają w&nbsp;prawidłowym funkcjonowaniu układu odpornościowego. Korzystny efekt występuję przy spożyciu 100 g produktu. Ważny jest zróżnicowany sposób żywienia i&nbsp;zdrowy styl życia.
    <br> ** Dzienne Referencyjne wartości spożycia dla witamin i&nbsp;składników mineralnych.
  </div>
</section>
