<section class="c-products o-wrapper u-p-relative">
  <div class="o-anchor">
    <div class="o-anchor__link" id="odkryj-smaki"></div>
  </div>
  <img class="c-products__dots u-fit-contain u-d-block u-p-absolute u-z-back u-pe-none u-us-none" src="{{ assetPath('images/bg-products-dots.png') }}" alt="" decoding="async">
  {#
  {{ lazyImg({
    src: assetPath('images/bg-products-dots.png'),
    class: 'c-products__dots u-fit-contain u-d-block u-p-absolute u-z-back u-pe-none u-us-none',
    decoding: 'async'
  }) }}
  #}
  {{ lazyImg({
    src: assetPath('images/bg-products-splash.png'),
    class: 'c-products__splash u-fit-contain u-d-block u-p-absolute u-z-back u-pe-none u-us-none',
    decoding: 'async'
  }) }}
  <picture>
    <source srcset="{{ emptySrc() }}" data-srcset="{{ assetPath('images/bg-products-splash.png') }}" media="(max-width: 639px)">
    {{ lazyImg({
      src: emptySrc(),
      class: 'c-products__splash-2 u-fit-contain u-d-block u-p-absolute u-hide-medium u-z-back u-pe-none u-us-none',
      decoding: 'async'
    }) }}
  </picture>
  <div class="c-products__inner">
    <div class="c-products__product c-products__product--berries u-p-relative">
      {{ lazyImg({
        src: assetPath('images/pic-product-berries@2x.png'),
        class: 'c-products__product-image u-fit-contain u-d-block',
        alt: 'Jogurt pitny jagodowy'
      }) }}
    </div>
    <div class="c-products__product c-products__product--lgg u-p-relative">
      {{ lazyImg({
        src: assetPath('images/pic-lgg-products@2x.png?v2'),
        class: 'c-products__product-image u-fit-contain u-d-block',
        alt: 'Lactobacillus rhamnosus, LGG®'
      }) }}
    </div>
    <div class="c-products__product c-products__product--strawberries u-p-relative">
      {{ lazyImg({
        src: assetPath('images/pic-product-strawberries@2x.png'),
        class: 'c-products__product-image u-fit-contain u-d-block',
        alt: 'Jogurt pitny truskawka-kiwi'
      }) }}
    </div>
    <div class="c-products__divider u-show-medium"></div>
    <div class="c-products__product c-products__product--peach u-p-relative">
      {{ lazyImg({
        src: assetPath('images/pic-product-peach@2x.png'),
        class: 'c-products__product-image u-fit-contain u-d-block',
        alt: 'Jogurt brzoskwiniowy'
      }) }}
    </div>
    <div class="c-products__product c-products__product--classic u-p-relative">
      {{ lazyImg({
        src: assetPath('images/pic-product-classic-2021@2x.png'),
        class: 'c-products__product-image u-fit-contain u-d-block',
        alt: 'Jogurt klasyczny'
      }) }}
    </div>
    <div class="c-products__product c-products__product--bilberry u-p-relative">
      {{ lazyImg({
        src: assetPath('images/pic-product-bilberry@2x.png'),
        class: 'c-products__product-image u-fit-contain u-d-block',
        alt: 'Jogurt jagodowy'
      }) }}
    </div>
  </div>
</section>
