<svg id="svg-source" style="display: none;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
  <symbol id="svg-youtube" viewBox="0 0 26.66 18.75" preserveAspectRatio="xMidYMid meet">
    <path d="M26.12,2.93a3.25,3.25,0,0,0-.88-1.51A3.25,3.25,0,0,0,23.73.54a34.72,34.72,0,0,0-6-.49L13.33,0,8.89.05a34.72,34.72,0,0,0-6,.49,3.25,3.25,0,0,0-1.51.88A3.25,3.25,0,0,0,.54,2.93a22,22,0,0,0-.49,4c0,.92,0,1.73,0,2.45l.05,2.44a22.32,22.32,0,0,0,.49,4,3.3,3.3,0,0,0,.88,1.46,3.25,3.25,0,0,0,1.51.88,34.72,34.72,0,0,0,6,.49l4.44.05,4.44-.05a34.72,34.72,0,0,0,6-.49,3.25,3.25,0,0,0,1.51-.88,3.3,3.3,0,0,0,.88-1.46,22.32,22.32,0,0,0,.49-4l.05-2.44-.05-2.45A22,22,0,0,0,26.12,2.93ZM10.6,13.38v-8l7,4Z"/>
  </symbol>

  <symbol id="svg-facebook" viewBox="0 0 21.88 21.88" preserveAspectRatio="xMidYMid meet">
    <path d="M21.88,1.22V20.65a1.28,1.28,0,0,1-1.23,1.23H15.09v-8.5h2.83l.44-3.27H15.09V8a1.82,1.82,0,0,1,.29-1.17A1.67,1.67,0,0,1,16.7,6.4h1.76v-3c-.69-.07-1.53-.1-2.54-.1a4.26,4.26,0,0,0-3.08,1.12,4.28,4.28,0,0,0-1.17,3.23v2.44H8.84v3.27h2.83v8.5H1.22a1.13,1.13,0,0,1-.88-.4A1.1,1.1,0,0,1,0,20.65V1.22A1.17,1.17,0,0,1,1.22,0H20.65a1.1,1.1,0,0,1,.83.34A1.13,1.13,0,0,1,21.88,1.22Z"/>
  </symbol>

  <symbol id="svg-icon-milk" viewBox="0 0 100 113.74" preserveAspectRatio="xMidYMid meet">
    <path d="M27.48 2.59C22 1 14.67.37 10.19 2.59 20.94 10 20.5 22.83 14.7 33.54.56 59.65-11 76.56 17.85 112.24a164.51 164.51 0 0044.33 0c11.08-13.69 16.2-24.62 17.5-34.37.36-2.69.21-4.1.87-6.73 2.67-10.76 10-18.85 13.17-24.69C100.53 33.7 106.45 2.63 85.15 0h-4.29c-5 .57-10.51 3.1-16.32 8-4 3.39-3.32 4.11-9.43 3.62-8.69-.69-18.55-6.33-27.63-9zM24 22.72A28.72 28.72 0 0024 15c-.41-2.82-1.63-6.55-4.36-8.72a58.6 58.6 0 016.26 1.6c3.08.92 6.41 2.27 9.76 3.63l1.16.47C30.94 10.49 28 9.46 23.63 8.86c2.1 3.67 2.45 8.51.39 13.86zm42 23.95c9.83 18.41 15 32.9-6.89 59.91a147.17 147.17 0 01-38.09 0c-21.84-27-16.72-41.5-6.89-59.91zm7.81 2.81c-2.48-5-5.37-10.29-8.43-15.94a71.4 71.4 0 01-3.18-6.94c-1.35-3.23-1.44-4.92 2.63-8.78C71.84 11.2 78.72 6 84 6.74 93.63 8 97.32 29.18 78.91 49.57c-3.84 4.25-3.14 3.99-5.15-.09z" fill-rule="evenodd"/>
  </symbol>

  <symbol id="svg-icon-microbiota" viewBox="0 0 149 119.66" preserveAspectRatio="xMidYMid meet">
    <path d="M109 18.78c-1.11 0-2.21.09-3.31.2a6.93 6.93 0 00-13 3.66 41.68 41.68 0 00-11.17 7.76c-3.22 3.14-11.47 3.48-14.75.29a36.21 36.21 0 00-3.54-3 4.15 4.15 0 011.5-.91 13.77 13.77 0 10-17.58-8.55 4.45 4.45 0 01.12 2.33 40.51 40.51 0 00-8.27-.8 39.5 39.5 0 101.1 79 39 39 0 005.9-.53 6.93 6.93 0 0012.93-4.51 38 38 0 009-7c2.87-3 9.22-3.22 12.74-1.16a7.59 7.59 0 011.4 1 42 42 0 006.58 5.08A5 5 0 0186.83 93a13.76 13.76 0 1017.68 8.36 5.59 5.59 0 01.3-3.84A39.5 39.5 0 10109 18.78zm1 75h-.7a13.75 13.75 0 10-19.07-7.92 4.44 4.44 0 01.13 2.33 36.27 36.27 0 01-5.64-4.46c-5.51-5-15.5-4.34-19.74.27a35.71 35.71 0 01-7.91 6.12 6.93 6.93 0 00-11.87 4.21 35.53 35.53 0 11.11-70.12 5.06 5.06 0 01-1.56 1.07 13.76 13.76 0 1017.68 8.36 5.13 5.13 0 01-.13-2.43 35.11 35.11 0 012.7 2.32c4.76 4.76 15.43 4.3 20.29-.29a35.68 35.68 0 019.65-6.91 6.92 6.92 0 0012.48-3.44c.86-.07 1.71-.12 2.58-.14a35.53 35.53 0 111 71.06z" fill="#3f7ecc" fill-rule="evenodd"/><path d="M59.21 50a6.93 6.93 0 109.3 3.13 6.93 6.93 0 00-9.3-3.13zM91.25 54.46a6.93 6.93 0 109.3 3.13 6.93 6.93 0 00-9.3-3.13z" fill-rule="evenodd"/>
  </symbol>

  <symbol id="svg-icon-bacteria" viewBox="0 0 136 124.25" preserveAspectRatio="xMidYMid meet">
    <path d="M94 55.31a12.61 12.61 0 002.37.31c7.75.3 12.68 1.23 13.28 11.29a13.52 13.52 0 004.35 9.14 13 13 0 0018.6-.82 13.43 13.43 0 00-1-18.81 13.15 13.15 0 00-9.42-3.49c-10 .36-11.34-4.51-12.39-12.29a13.49 13.49 0 00-4.25-8.14 13.09 13.09 0 00-16.72-.92l-.63.47c-6.08 4.82-10.42 7.33-17.43.09A13.47 13.47 0 0061.54 28 13.07 13.07 0 0048 40.72v.07a13.44 13.44 0 0013 13.63 13.16 13.16 0 009.41-3.49c7.32-6.76 11.55-4 17.41 1.25A13.36 13.36 0 0094 55.31zM39.1 74.09a8.59 8.59 0 00-6.94-9.85 8.39 8.39 0 00-5.75 1c-4.3 2.47-7.28 3.64-11-1.61a8.61 8.61 0 00-5.46-3.47 8.34 8.34 0 00-9.8 6.76 8.61 8.61 0 006.94 9.86 8.41 8.41 0 006.28-1.31c5.27-3.58 7.68-1.41 10.89 2.45a8.72 8.72 0 005.07 3 8.36 8.36 0 009.8-6.77zm63.54 50a8.59 8.59 0 007-9.82 8.42 8.42 0 00-2.83-5.1c-3.76-3.23-5.86-5.66-2.15-10.94a8.61 8.61 0 001.46-6.3 8.34 8.34 0 00-9.64-7 8.6 8.6 0 00-7 9.82 8.38 8.38 0 003.32 5.49c5.14 3.78 3.89 6.77 1.32 11.08a8.6 8.6 0 00-1.12 5.82 8.34 8.34 0 009.63 7zM72.13 30.72a8.59 8.59 0 0012 1.13 8.45 8.45 0 003-5c.92-4.88 2-7.91 8.39-7.35a8.64 8.64 0 006.19-1.89 8.35 8.35 0 001.22-11.85 8.59 8.59 0 00-12-1.13 8.37 8.37 0 00-3.09 5.63c-.7 6.33-3.92 6.75-8.93 6.69a8.57 8.57 0 00-5.55 1.92 8.35 8.35 0 00-1.23 11.85zM29.34 61.44l.77.2c7.55 1.78 12.21 3.63 10.89 13.62a13.53 13.53 0 002.52 9.81 13.07 13.07 0 0018.42 2.75 13.45 13.45 0 002.66-18.71 13.17 13.17 0 00-8.6-5.22c-9.84-1.54-10.27-6.59-9.81-14.43a13.53 13.53 0 00-1.39-6.79 12.51 12.51 0 00-1.23-2.05c-4.57-6.27-6.9-10.71.62-17.43a13.52 13.52 0 004.47-9.08A13.06 13.06 0 0036.49 0h-.06a13.44 13.44 0 00-14.14 12.48 13.18 13.18 0 003.1 9.52c6.47 7.59 3.51 11.7-1.94 17.35a13.49 13.49 0 00-3.76 8.38 13.11 13.11 0 009.65 13.68zm58.19 37.45c0-.26 0-.52-.08-.78-1.07-7.69-1-12.7 8.78-15.06a13.46 13.46 0 008.24-5.88A13.06 13.06 0 00100.4 59 13.43 13.43 0 0082 63.25a13.1 13.1 0 00-1.79 9.87c2.11 9.74-2.45 12-9.92 14.36a13.44 13.44 0 00-5.83 3.73A12.84 12.84 0 0063 93.1c-4.2 6.53-7.5 10.3-16.48 5.71a13.46 13.46 0 00-10.08-.9 13.06 13.06 0 00-8.75 16.44v.06a13.44 13.44 0 0016.72 8.7 13.2 13.2 0 007.79-6.33c4.74-8.77 9.64-7.49 16.88-4.44a13.39 13.39 0 009.17.48 13.08 13.08 0 009.28-13.93z" fill-rule="evenodd"/>
  </symbol>

  <symbol id="svg-icon-arrow" viewBox="0 0 45.66 24.58" preserveAspectRatio="xMidYMid meet">
    <path d="M12.5 2c-2.2 4.76 5.23 6.11 5.23 8.73S9.47 17.5 9.88 21.19c.58 5.23 10.47 3.49 18.33.87s20.95-4.37 16.59-7.86S16-5.58 12.5 2zM.06 15.19c.7 6.28 5.48 6.26 6.65 3.52s4.7-9-.39-9-6.65 1.95-6.26 5.48z" />
  </symbol>

  <symbol id="svg-icon-yogurt" viewBox="0 0 94 136.13" preserveAspectRatio="xMidYMid meet">
    <path d="M47,83.82a12,12,0,0,1-4.55-1L13.21,69.1l3.24,49.2c.42,6.37.16,5.69,5.87,8.15,6.52,2.82,11.53,4.76,18.06,7.58,3,1.32,4.82,2.05,6.62,2.1s3.57-.78,6.62-2.1c6.53-2.82,11.54-4.76,18.06-7.58,5.71-2.46,5.45-1.78,5.87-8.15l3.24-49.2L51.55,82.78a12,12,0,0,1-4.55,1Zm9.77-23.45-5-2.48C58.22,41.25,58.5,20.67,66.9,2.74c6.23-5.48,12.23-1.73,14,2.47C76.66,25,64.12,38.16,56.77,60.37Zm-6.68,20.1c-1.7.79-4.9.59-7.11-.44L2,60.84C-.23,59.8-.66,58.3,1,57.51L43.91,37.44c1.7-.79,4.9-.59,7.11.44l3.4,1.59c-.34,1.61-.68,3.2-1.05,4.78L50.1,42.72a7.5,7.5,0,0,0-5.48-.34l-33,15.46c-1.31.61-1,1.77.72,2.57L43.9,75.19a7.5,7.5,0,0,0,5.48.34l33-15.46c1.31-.61,1-1.77-.72-2.57L63.8,49.13q1-2.21,2.06-4.3L92,57.07c2.22,1,2.64,2.54.94,3.33Z" fill-rule="evenodd"/>
  </symbol>
</svg>
