<!DOCTYPE html>
<html class="no-js no-touch no-interaction" lang="pl" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title>Aktiplus</title>
  <meta name="description" content="Aktiplus, LGG® plus dla odporności">
  <meta name="google-site-verification" content="OU69POst6Y1SQGfiQX_4rNl9_LotLpwczLEIK3DPWGo" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preload" href="{{ revisionedPath('styles/main.css') }}" as="style">
  <link rel="preload" href="{{ assetPath('fonts/5591093/89495911-441c-4a94-b785-8fbbde758233.woff2') }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ assetPath('fonts/5591109/3a97d711-0278-4fcc-9527-37e7911bcfb7.woff2') }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ assetPath('fonts/5591118/1a92f662-f8c4-47fd-aa23-652c9384a86d.woff2') }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://use.typekit.net/af/d12599/00000000000000003b9b401a/27/l?primer=2a64b7354accbfccf091944358d6cba32f300a9a753ae564cfcf2ef3ec0bce66&fvd=n4&v=3" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://use.typekit.net/af/b99c9b/00000000000000003b9adb67/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ assetPath('images/bg-hero-dots.png') }}" as="image" type="image/png">
  <link rel="preload" href="{{ assetPath('images/logo-aktiplus@2x.png') }}" as="image" type="image/png">
  <link rel="preload" href="{{ assetPath('images/logo-biedronka-top@2x.png') }}" as="image" type="image/png">
  <link rel="preload" href="{{ assetPath('images/pic-lgg-hero@2x.png') }}" as="image" type="image/png" media="(min-width: 640px)">
  <link rel="preload" href="{{ assetPath('images/pic-lgg-hero-mobile@2x.png') }}" as="image" type="image/png" media="(max-width: 639px)">
  <link rel="preload" href="{{ assetPath('images/pic-berries-hero@2x.png?v2') }}" as="image" type="image/png" media="(min-width: 640px)">
  <link rel="preload" href="{{ assetPath('images/pic-berries-hero-mobile@2x.png') }}" as="image" type="image/png" media="(max-width: 639px)">
  <link rel="preload" href="{{ assetPath('images/logo-lgg-desktop@2x.png') }}" as="image" type="image/png" media="(min-width: 900px)">
  <link rel="preload" href="{{ assetPath('images/logo-lgg@2x.png') }}" as="image" type="image/png" media="(max-width: 899px)">
  <link rel="preload" href="{{ assetPath('images/bg-page.jpg') }}" as="image" type="image/png" media="(min-width: 480px)">
  <link rel="preload" href="{{ assetPath('images/bg-page-mobile.jpg') }}" as="image" type="image/png" media="(max-width: 479px)">
  <link rel="preconnect" href="https://use.typekit.net" crossorigin />
  {#
  <link rel="preload" href="https://use.typekit.net/ykd2luu.css" as="style">
  <link rel="preconnect" href="https://use.typekit.net" crossorigin>
  <link rel="dns-prefetch" href="https://use.typekit.net">
  <link rel="stylesheet" href="https://use.typekit.net/ykd2luu.css">
  #}

  {% block criticalCss %}
  {% endblock %}
  <link rel="stylesheet" property="stylesheet" href="{{ revisionedPath('styles/main.css') }}" type="text/css">
  <link rel="stylesheet" href="https://p.typekit.net/p.css?s=1&k=ykd2luu&ht=tk&f=9781.28318&a=9070674&app=typekit&e=css" media="print" onload="this.media='all'">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath('favicon/apple-touch-icon.png?v=kPLBEn5Nxx') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ assetPath('favicon/favicon-32x32.png?v=kPLBEn5Nxx') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ assetPath('favicon/favicon-16x16.png?v=kPLBEn5Nxx') }}">
  <link rel="manifest" href="{{ assetPath('favicon/site.webmanifest?v=kPLBEn5Nxx') }}">
  <link rel="mask-icon" href="{{ assetPath('favicon/safari-pinned-tab.svg?v=kPLBEn5Nxx') }}" color="#146eb0">
  <link rel="shortcut icon" href="{{ assetPath('favicon/favicon.ico?v=kPLBEn5Nxx') }}">
  <meta name="apple-mobile-web-app-title" content="Aktiplus">
  <meta name="application-name" content="Aktiplus">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ assetPath('favicon/browserconfig.xml?v=kPLBEn5Nxx') }}">
  <meta name="theme-color" content="#ffffff">

  <script>
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>
  {% if hasVendor() %}
    <script src="{{ revisionedPath('scripts/vendor.js') }}" defer></script>
  {% endif %}
  {% if hasWebpackManifest() %}
    <script>
      (function() {
        var p = '{{ getScriptsPath() }}';
        var wm = window.webpackManifest = {{ getWebpackManifest() }};
        Object.keys(wm).forEach(function(n){wm[n]=p+wm[n]});
      })();
    </script>
  {% endif %}
  {#
  <script src="{{ revisionedPath('scripts/app.bundle.js') }}" defer></script>
  #}
  <script>
    window.addEventListener('load', function(){
      var script = document.createElement('script');
      script.async = true;
      script.src = '{{ revisionedPath('scripts/app.bundle.js') }}';
      document.body.appendChild(script);
    });
  </script>

  {% block head %}
  {% endblock %}
  <!-- Google Tag Manager -->
  <script>
    window.addEventListener('load', function (){
      setTimeout(function (){
        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({
            'gtm.start':
              new Date().getTime(), event: 'gtm.js'
          });
          setTimeout(function (){
            var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
          }, 2000);
        })(window, document, 'script', 'dataLayer', 'GTM-WDJB9B');
      }, 1000);
    });
  </script>
  <!-- End Google Tag Manager -->
</head>

<body class="{{body_class}}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDJB9B"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  {% include 'components/svg.twig' %}

  {% block header %}
    {% include 'components/header.twig' %}
  {% endblock %}

  {% block content %}
    Sorry, no content
  {% endblock %}

  {% block footer %}
    {% include 'components/footer.twig' %}
  {% endblock %}
</body>
</html>
