///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

/* Fonts
   ========================================================================== */

$font-din-medium: 'DIN W02 Medium', serif !default;
$font-din-regular: 'DIN W02 Regular', serif !default;
$font-din-medium-italic: 'DIN W02 Medium Italic', serif !default;
$font-aller: 'aller-display', serif !default;
$font-lores: 'lores-12-bold-alt-oakland', serif !default;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 640px,
  large: 900px,
  xlarge: 1100px,
  full: 1400px,
);


/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-red: #cc2d3c;
$color-blue: #3f7ecc;
$color-gray: #596d84;

/* Transitions
   ========================================================================== */

$transition-slow-in: 0.5s;
$transition-very-slow-in: 1s;
$transition-fast-in: 0.3s;

$transition-slow-out: $transition-slow-in * 0.75;
$transition-very-slow-out: $transition-very-slow-in * 0.75;
$transition-fast-out: $transition-fast-in * 0.75;

/* Sizes
   ========================================================================== */

$header-height-small: 40px;
$header-height-large: 67px;

$wrapper-width: 1146px;
$wrapper-bigger-width: 1200px;

/* Spaces
   ========================================================================== */

