///* ========================================================================
//   #HIT GAME
//   ======================================================================== */

$color-hit-yellow: #feae34;
$b1-ratio: (14 / 24);
$b2-ratio: (16 / 25);
$b3-ratio: (25 / 19);
$b4-ratio: (23 / 24);
$b5-ratio: (22 / 24);
$b6-ratio: (22 / 23);
$b7-ratio: (5 / 19);

$g1-ratio: (22 / 23);
$g2-ratio: (22 / 24);
$g3-ratio: (23 / 22);
$g4-ratio: (5 / 19);
