///* ========================================================================
//   #LINK
//   ======================================================================== */

@mixin h1 {
  font-size: 28px;
  line-height: (32/28);
  letter-spacing: -0.01em;

  @include bp(medium) {
    & {
      font-size: 43px;
      line-height: (48/43);
    }
  }

  @include bp(large) {
    & {
      font-size: 48px;
      line-height: (54/48);
    }
  }
}

@mixin h2 {
  font-size: 29px;
  line-height: (36/29);
  letter-spacing: -0.01em;

  @include bp(medium) {
    & {
      font-size: 32px;
      line-height: (38/32);
    }
  }
}

@mixin h3 {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.01em;

  @include bp(medium) {
    & {
      font-size: 27px;
    }
  }

  @include bp(large) {
    & {
      font-size: 32px;
    }
  }
}

@mixin fsz-menu {
  font-size: 13px;
  line-height: 1;
  // letter-spacing: -0.02em;

  @include bp(360px) {
    & {
      font-size: 14px;
    }
  }

  @include bp(420px) {
    & {
      font-size: 15px;
    }
  }

  @include bp(medium) {
    & {
      font-size: 16px;
    }
  }

  @include bp(large) {
    & {
      font-size: 21px;
    }
  }
}

@mixin fsz-small {
  font-size: 8px;

  @include bp(medium) {
    & {
      font-size: 12px;
    }
  }

  @include bp(large) {
    & {
      font-size: 13px;
    }
  }
}

@mixin fsz-product {
  font-size: 14px;

  @include bp(medium) {
    & {
      font-size: 16px;
    }
  }

  @include bp(large) {
    & {
      font-size: 18px;
    }
  }
}

@mixin fsz-desc {
  font-size: 12px;

  @include bp(medium) {
    & {
      font-size: 16px;
    }
  }

  @include bp(large) {
    & {
      font-size: 21px;
    }
  }
}

@mixin fsz-hero {
  @include bp(medium) {
    & {
      font-size: 18px;
    }
  }

  @include bp(large) {
    & {
      font-size: 20px;
    }
  }

  @include bp(xlarge) {
    & {
      font-size: 22px;
    }
  }

  @include bp(1200px) {
    & {
      font-size: 24px;
    }
  }
}
