///* ========================================================================
//   #BREAKPOINTS
//   ======================================================================== */

@mixin wrapper($width: $wrapper-width) {
  width: calc(100% - 30px);
  margin-right: auto;
  margin-left: auto;
  max-width: $width;

  @include bp(medium) {
    & {
      width: calc(100% - 54px);
    }
  }
}

@mixin wrapper-padding($width: $wrapper-width) {
  padding-left: 15px;
  padding-right: 15px;

  @include bp(medium) {
    & {
      padding-left: 27px;
      padding-right: 27px;
    }
  }

  @include bp($width + 54px) {
    & {
      padding-right: calc(50% - #{$width / 2});
      padding-left: calc(50% - #{$width / 2});
    }
  }
}

@mixin anti-wrapper($width: $wrapper-width) {
  margin-left: -15px;
  margin-right: -15px;

  @include bp(medium) {
    margin-left: -27px;
    margin-right: -27px;
  }

  @include bp($width + 54px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
