/* ==========================================================================
   #HIT GAME - FINISH SCREEN
   ========================================================================== */

@keyframes professor {
  from {
    transform: none;
  }

  to {
    transform: translateY(-13%);
  }
}

.c-hit-game__finish {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  font-size: 7.1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-hit-game__finish-1 {
  position: absolute;
  margin-left: -2.2em;
  left: 50%;
  top: 0;
  font-size: 8em;
}

.c-hit-game__finish-2 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 2.2em;
  font-size: 7em;
}

.c-hit-game__finish-2--2 {
  right: 0.45em;
  top: 0.3em;
  position: absolute;
}

.c-hit-game__finish-3 {
  position: absolute;
  left: 50%;
  margin-left: -2em;
  top: 52%;
  font-size: 8.6em;
}

.c-hit-game__finish-4 {
  position: absolute;
  left: 50%;
  top: 52%;
  margin-left: 1.2em;
  font-size: 8.1em;
}

.c-hit-game__finish-cup {
  width: 30em;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.c-hit-game__finish-cup-bumper,
.c-hit-game__finish-cup-band {
  width: 100%;
  display: block;
}

.c-hit-game__finish-cup-band {
  order: 1;
  transform: translateY(260%);
}

.c-hit-game__finish-professor {
  order: 1;
  justify-content: center;
  display: flex;
  width: 13.3em;
  height: 20.6em;
  margin: -14em auto 1em;
  z-index: 1;
}

.c-hit-game__finish-retry {
  order: 2;
  font-size: 17.2em;
  margin: auto;
  width: 1em;
  height: 1em;

  @include link-active-hover {
    color: $color-hit-yellow;
  }
}

.c-hit-game__finish-retry > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.205em;
}

.c-hit-game__finish-retry-img {
  display: block;
  width: 1em;
  height: 1em;
  margin: auto;
}

.c-hit-game__finish-professor-body {
  height: 100%;
  width: auto;
}

.c-hit-game__finish-professor-hands {
  width: 100%;
  position: absolute;
  top: 25%;
  animation: professor 1s steps(2, end) infinite;
}

@media (max-height: 529px) {
  .c-hit-game__finish {
    font-size: 6px;
  }
}

@include bp(360px) {
  .c-hit-game__finish {
    font-size: 7px;
  }
}

@include bp(medium) {
  .c-hit-game__finish {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 7px;
  }

  .c-hit-game__finish-professor {
    order: 0;
    margin: 1.5em 0 0 0;
    font-size: 1.2em;
  }

  .c-hit-game__finish-cup {
    order: 1;
    margin: auto 1.5em;
  }

  .c-hit-game__finish-retry {
    order: 2;
    margin: auto 0;
  }

  .c-hit-game__finish-cup-band {
    transform: none;
    order: -1;
    margin-bottom: -6%;
  }

  .c-hit-game__finish-1 {
    margin-left: -5em;
    top: -0.2em;
  }

  .c-hit-game__finish-2 {
    margin-left: 5.3em;
    top: -0.2em;
  }

  .c-hit-game__finish-3 {
    margin-left: -4.6em;
    bottom: -0.2em;
    top: auto;
  }

  .c-hit-game__finish-4 {
    margin-left: 3.7em;
    top: auto;
    bottom: -0.3em;
  }
}

@include bp(720px) {
  .c-hit-game__finish {
    font-size: 8px;
  }
}

@include bp(large) {
  .c-hit-game__finish {
    font-size: 10px;
  }
}

@include bp(xlarge) {
  .c-hit-game__finish {
    font-size: 13px;
  }
}
