/* ==========================================================================
   #HIT GAME - GAME SCREEN
   ========================================================================== */

.c-hit-game__game {
  cursor: url('../assets/images/magnifier.svg') 35 35, default;
  font-size: 70px;
}

.c-hit-game__game .c-hit-game__bacteria {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  user-select: none;
}

.c-hit-game__game .c-hit-game__bacteria-img {
  margin-top: -0.5em;
  pointer-events: none;
}

.c-hit-game__game .c-hit-game__bacteria--b1 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (14/24) * 1em;
}

.c-hit-game__game .c-hit-game__bacteria--b2 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (16/25) * 1em;
}

.c-hit-game__game .c-hit-game__bacteria--b3 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (25/19) * 1em;
}

.c-hit-game__game .c-hit-game__bacteria--b4 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (23/24) * 1em;
}

.c-hit-game__game .c-hit-game__bacteria--b5 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (22/24) * 1em;
}

.c-hit-game__game .c-hit-game__bacteria--b6 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (22/23) * 1em;
}

.c-hit-game__game .c-hit-game__bacteria--b7 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (5/19) * 1em;
}

.c-hit-game__game .c-hit-game__bacteria--g1 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (22/23) * 1em;
}

.c-hit-game__game .c-hit-game__bacteria--g2 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (22/24) * 1em;
}

.c-hit-game__bacteria--g3 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (23/22) * 1em;
}

.c-hit-game__bacteria--g4 .c-hit-game__bacteria-img {
  margin-left: -0.5 * (5/19) * 1em;
}

.c-hit-game__game-hurt {
  backface-visibility: hidden;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  width: 3em;
  height: 128.36 / 255.37 * 3em;
  margin-top: -128.36 / 255.37 * 0.6 * 3em;
  font-size: 72px;
  z-index: 2;
  line-height: 1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.c-hit-game__game-hurt-icon {
  display: block;
  width: 100%;
  height: auto;
}

@include bp(medium) {
  .c-hit-game__game-hurt {
    font-size: 120px;
  }
}

@include bp(large) {
  .c-hit-game__game {
    font-size: 120px;
  }

  .c-hit-game__game-hurt {
    font-size: 160px;
  }
}
