/* ==========================================================================
   #HIT GAME - START SCREEN
   ========================================================================== */

.c-hit-game__start {
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  font-size: 7.5px;
}

.c-hit-game__start-professor {
  position: absolute;
  height: 16em;
  left: 50%;
  top: 48%;
  margin-left: -15em;
  margin-top: -8em;
}

.c-hit-game__line-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;
  width: 20em;
}

.c-hit-game__text-1 {
  width: 100%;
  height: 32px;
  margin-top: 1em;
}

.c-hit-game__start-magnifier {
  width: 5.4em;
  height: 9.2em;
  margin-right: 1em;
}

.c-hit-game__start-bacteria-1 {
  font-size: 8.4em;
}

.c-hit-game__start-bacteria-2 {
  font-size: 8.2em;
}

.c-hit-game__line-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10em;
  width: 24.7em;
}

.c-hit-game__text-2 {
  width: 100%;
  height: 32px;
  margin-top: 2em;
}

.c-hit-game__line-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  width: 20.7em;
}

.c-hit-game__text-3 {
  width: 100%;
  height: 34px;
  margin-bottom: 3em;
}

.c-hit-game__bacteria-img {
  display: block;
}

.c-hit-game__start-button {
  display: block;
  position: relative;
  font-size: 0.7em;

  @include link-active-hover {
    color: $color-hit-yellow;
  }
}

.c-hit-game__start-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -52%);
  font-size: 7.5em;
}

@media (max-height: 520px) {
  .c-hit-game__start {
    font-size: 6px;
  }
}

@include bp(medium) {
  .c-hit-game__start {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 8px;
    padding-left: 12em;
    width: 540px;
    margin: auto;
    justify-content: flex-end;
    align-items: stretch;
  }

  .c-hit-game__line-2 {
    margin-bottom: 0;
    margin-left: 3em;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .c-hit-game__line-1 {
    margin-bottom: 0;
    margin-right: 3em;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .c-hit-game__line-3 {
    width: 100%;
    margin-top: 4em;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .c-hit-game__text-3 {
    width: 42em;
    height: 19px;
  }

  .c-hit-game__start-professor {
    left: 0;
    height: 28em;
    margin-left: 0;
    margin-top: -14em;
  }

  .c-hit-game__text-1 {
    margin-top: 1.6em;
    height: 43px;
  }

  .c-hit-game__text-2 {
    height: 43px;
  }
}

@include bp(large) {
  .c-hit-game__start {
    font-size: 11px;
    width: 760px;
  }

  .c-hit-game__text-1,
  .c-hit-game__text-2 {
    height: 60px;
  }

  .c-hit-game__text-3 {
    height: 27px;
  }
}

@include bp(xlarge) {
  .c-hit-game__start {
    font-size: 12px;
    padding-left: 20em;
    width: 900px;
    justify-content: space-between;
  }

  .c-hit-game__start-bacteria-1 {
    font-size: 9em;
  }

  .c-hit-game__start-bacteria-2 {
    font-size: 9em;
  }

  .c-hit-game__start-button {
    font-size: 0.8em;
  }

  .c-hit-game__text-1,
  .c-hit-game__text-2 {
    height: 64px;
  }

  .c-hit-game__text-3 {
    height: 30px;
  }
}
